<%= form_with(model: [@request, @family_beneficiary], url: request_family_beneficiary_path(@request), local: true, class: "space-y-6") do |form| %>
  <section class="p-5">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <% if @family_beneficiary.errors.any? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
          <strong class="font-bold">Oops!</strong> <span class="block">Please fix the following errors:</span>
          <ul class="list-disc pl-5">
            <% @family_beneficiary.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h2 class="text-xl font-bold mb-4 text-gray-900">
        <%= @family_beneficiary.persisted? ? "Edit Family Beneficiary" : "Create Family Beneficiary" %>
      </h2>

      <div class="grid gap-6 mt-4 md:grid-cols-2 lg:grid-cols-3">
        <div>
          <%= form.label :family_members, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.number_field :family_members, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Number of family members" %>
        </div>
        <div>
          <%= form.label :male, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.number_field :male, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Number of males" %>
        </div>
        <div>
          <%= form.label :female, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.number_field :female, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Number of females" %>
        </div>
        <div>
          <%= form.label :children, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.number_field :children, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Number of children" %>
        </div>
        <div>
          <%= form.label :adult_age_range, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_area :adult_age_range, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Adult age range" %>
        </div>
        <div>
          <%= form.label :children_age_range, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_area :children_age_range, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Children age range" %>
        </div>
        <div>
          <%= form.label :residence_address, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :residence_address, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Residence Address" %>
        </div>
        <div>
          <%= form.label :village, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :village, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Village" %>
        </div>
        <div>
          <%= form.label :parish, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :parish, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Parish" %>
        </div>
        <div>
          <%= form.label :district_id, "District", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.collection_select :district_id, @districts, :id, :name, { prompt: 'Select a district' }, { id: 'district-select', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
        </div>
        <div>
          <%= form.label :county_id, "County", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.collection_select :county_id, @counties, :id, :name, { prompt: 'Select a county' }, { id: 'county-select', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
        </div>
        <div>
          <%= form.label :sub_county_id, "Sub-County", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.collection_select :sub_county_id, @sub_counties, :id, :name, { prompt: 'Select a sub-county' }, { id: 'sub-county-select', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
        </div>
      </div>

      <div class="grid gap-6 mt-4 md:grid-cols-2 lg:grid-cols-3">
        <div>
          <%= form.label :phone_number, class: "block text-sm font-medium text-gray-700" %>
          <%= form.telephone_field :phone_number, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div>
          <%= form.label :case_name, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :case_name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div>
          <%= form.label :case_description, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_area :case_description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div>
          <%= form.label :fathers_name, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :fathers_name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div>
          <%= form.label :mothers_name, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :mothers_name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div>
          <%= form.label :fathers_occupation, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :fathers_occupation, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div>
          <%= form.label :mothers_occupation, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :mothers_occupation, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
       

        <div>
      <%= form.label :number_of_meals_home, class: "block text-sm font-medium text-gray-700" %>
      <%= form.number_field :number_of_meals_home, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>
    <div>
      <%= form.label :number_of_meals_school, class: "block text-sm font-medium text-gray-700" %>
      <%= form.number_field :number_of_meals_school, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>
    <div class="sm:col-span-6">
      <%= form.label :basic_FEH, "Basic Food Eaten at Home", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :basic_FEH, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div class="sm:col-span-6">
      <%= form.label :basic_FES, "Basic Food Eaten at School", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :basic_FES, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    </div>
    
    <div>
      <%= form.label :provided_food, class: "block font-medium text-gray-700" %>
      <%= form.number_field :provided_food, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
      </div>

      
  </div>

      <div class="mt-6 flex justify-end gap-4">
        <%= form.submit class: "px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" %>
        <%= link_to 'Cancel', requests_path, class: "px-4 py-2 text-gray-600 bg-gray-200 rounded-md hover:bg-gray-300" %>
      </div>
    </div>
  </section>
<% end %>
