<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">Family Beneficiaries</h1>
  <%= form_with(url: family_beneficiaries_path, method: :get, local: true, class: "space-y-6") do |f| %>
    <div>
      <%= f.label :fathers_name, "Father's Name" %>
      <%= f.text_field :fathers_name, value: params[:fathers_name], class: "form-input mt-1 block w-full border-gray-300 rounded-md" %>
    </div>
    <div>
      <%= f.label :mothers_name, "Mother's Name" %>
      <%= f.text_field :mothers_name, value: params[:mothers_name], class: "form-input mt-1 block w-full border-gray-300 rounded-md" %>
    </div>
    <div>
      <%= f.label :case_name, "Case Name" %>
      <%= f.text_field :case_name, value: params[:case_name], class: "form-input mt-1 block w-full border-gray-300 rounded-md" %>
    </div>
    <div>
      <%= f.label :phone_number, "Phone Number" %>
      <%= f.text_field :phone_number, value: params[:phone_number], class: "form-input mt-1 block w-full border-gray-300 rounded-md" %>
    </div>
    <div>
      <%= f.label :min_member, "Minimum member", class: "block text-gray-700" %>
      <%= f.number_field :min_member, value: params[:min_member], class: "mt-1 block w-full border border-gray-300 rounded" %>
    </div>
    <div>
      <%= f.label :max_member, "Maximum member", class: "block text-gray-700" %>
      <%= f.number_field :max_member, value: params[:max_member], class: "mt-1 block w-full border border-gray-300 rounded" %>
    </div>
    <div>
      <%= f.label :start_date, "Created After" %>
      <%= f.date_field :start_date, value: params[:start_date], class: "form-input mt-1 block w-full border-gray-300 rounded-md" %>
    </div>
    <div>
      <%= f.label :end_date, "Created Before" %>
      <%= f.date_field :end_date, value: params[:end_date], class: "form-input mt-1 block w-full border-gray-300 rounded-md" %>
    </div>
    <div>
      <%= f.label :district_id, "District", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :district_id, @districts, :id, :name, { prompt: "Select District" }, { id: 'district-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm', 'data-context-path': "family_beneficiaries" } %>
    </div>
    <div>
      <%= f.label :county_id, "County", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :county_id, @counties, :id, :name, { prompt: "Select County" }, { id: 'county-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm', 'data-context-path': "family_beneficiaries" } %>
    </div>
    <div>
      <%= f.label :sub_county_id, "Sub-County", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :sub_county_id, @sub_counties, :id, :name, { prompt: "Select Sub-County" }, { id: 'sub-county-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm' } %>
    </div>
    <div>
      <%= f.submit "Filter", class: "bg-indigo-600 text-white p-2 rounded" %>
      <%= link_to "Refresh Filter", family_beneficiaries_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg">
      <thead>
        <tr class="text-darkBlue">
          <th class="px-6 py-3 text-left font-Outfit text-base font-bold tracking-wider w-6/26">Father</th>
          <th class="px-6 py-3 text-left font-Outfit text-base font-bold tracking-wider w-6/26">Mother</th>
          <th class="px-6 py-3 text-left font-Outfit text-base font-bold tracking-wider w-2/26">Members</th>
          <th class="px-6 py-3 text-left font-Outfit text-base font-bold tracking-wider w-4/26">Case</th>
          <th class="px-6 py-3 text-left font-Outfit text-base font-bold tracking-wider w-4/26">Phone</th>
          <th class="px-6 py-3 text-left font-Outfit text-base font-bold tracking-wider w-4/26">Parish</th>
        </tr>
      </thead>
      <tbody>
        <% @family_beneficiaries.each do |beneficiary| %>
          <tr class="hover:bg-gray-100">
            <td class="px-6 py-4 text-sm font-semibold font-Outfit text-[#5a607a] w-6/26"><%= beneficiary.fathers_name %></td>
            <td class="px-6 py-4 text-sm font-semibold font-Outfit text-[#5a607a] w-6/26"><%= beneficiary.mothers_name %></td>
            <td class="px-6 py-4 text-sm font-semibold font-Outfit text-[#5a607a] w-2/26"><%= beneficiary.family_members %></td>
            <td class="px-6 py-4 text-sm font-semibold font-Outfit text-[#5a607a] w-4/26"><%= beneficiary.case_name %></td>
            <td class="px-6 py-4 text-sm font-semibold font-Outfit text-[#5a607a] w-4/26"><%= beneficiary.phone_number %></td>
            <td class="px-6 py-4 text-sm font-semibold font-Outfit text-[#5a607a] w-4/26"><%= beneficiary.parish %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mt-6">
    <%= link_to 'Dashboard', users_path, class: "mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>
  </div>
</div>
