<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">Family Beneficiaries</h1>
  <table class="min-w-full divide-y divide-gray-200 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Case Name
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Phone Number
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Family Members
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @family_beneficiaries.each do |family_beneficiary| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <%= family_beneficiary.case_name %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= family_beneficiary.phone_number %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= family_beneficiary.family_members %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
            <%= link_to 'Show', family_beneficiary_path(family_beneficiary), class: 'text-indigo-600 hover:text-indigo-900' %>
            <%= link_to 'Edit', edit_request_family_beneficiary_path(family_beneficiary.request, family_beneficiary), class: 'text-blue-600 hover:text-blue-900' %>
            <%= button_to 'Destroy', family_beneficiary_path(family_beneficiary), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600 hover:text-red-900' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-6">
    <%= link_to 'Dashboard', users_path, class: "mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>
  </div>
</div>
