<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">Family Beneficiaries</h1>
  <%= form_with(url: family_beneficiaries_path, method: :get, local: true, class: "space-y-6") do |f| %>
    <div>
      <%= f.label :district_id, "District", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :district_id, @districts, :id, :name, { prompt: "Select District" }, { id: 'district-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm', 'data-context-path': "family_beneficiaries" } %>
    </div>
    <div>
      <%= f.label :county_id, "County", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :county_id, @counties, :id, :name, { prompt: "Select County" }, { id: 'county-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm', 'data-context-path': "family_beneficiaries" } %>
    </div>
    <div>
      <%= f.label :sub_county_id, "Sub-County", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :sub_county_id, @sub_counties, :id, :name, { prompt: "Select Sub-County" }, { id: 'sub-county-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm' } %>
    </div>
    <div>
      <%= f.submit "Filter", class: "bg-indigo-600 text-white p-2 rounded" %>
    </div>
  <% end %>
  <table class="min-w-full divide-y divide-gray-200 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Case Name
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Phone Number
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Family Members
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @family_beneficiaries.each do |family_beneficiary| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <%= family_beneficiary.case_name %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= family_beneficiary.phone_number %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= family_beneficiary.family_members %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
            <%= link_to 'Show', family_beneficiary_path(family_beneficiary), class: 'text-indigo-600 hover:text-indigo-900' %>
            <%= link_to 'Edit', edit_request_family_beneficiary_path(family_beneficiary.request, family_beneficiary), class: 'text-blue-600 hover:text-blue-900' %>
            <%= button_to 'Destroy', family_beneficiary_path(family_beneficiary), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600 hover:text-red-900' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-6">
    <%= link_to 'Dashboard', users_path, class: "mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>
  </div>
</div>
