<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">Family Beneficiaries</h1>
  <%= form_with(url: family_beneficiaries_path, method: :get, local: true, class: "space-y-6") do |f| %>
    <div>
      <%= f.label :district_id, "District", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :district_id, @districts, :id, :name, { prompt: "Select District" }, { id: 'district-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm', 'data-context-path': "family_beneficiaries" } %>
    </div>
    <div>
      <%= f.label :county_id, "County", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :county_id, @counties, :id, :name, { prompt: "Select County" }, { id: 'county-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm', 'data-context-path': "family_beneficiaries" } %>
    </div>
    <div>
      <%= f.label :sub_county_id, "Sub-County", class: "block font-medium text-gray-700" %>
      <%= f.collection_select :sub_county_id, @sub_counties, :id, :name, { prompt: "Select Sub-County" }, { id: 'sub-county-select', class: 'form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm' } %>
    </div>
    <div>
      <%= f.submit "Filter", class: "bg-indigo-600 text-white p-2 rounded" %>
    </div>
  <% end %>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg">
      <thead>
        <tr class="text-darkBlue">
          <th class="px-6 py-3 text-left font-Outfit text-sm font-bold tracking-wider w-6/26">Father</th>
          <th class="px-6 py-3 text-left font-Outfit text-sm font-bold tracking-wider w-6/26">Mother</th>
          <th class="px-6 py-3 text-left font-Outfit text-sm font-bold tracking-wider w-2/26">Members</th>
          <th class="px-6 py-3 text-left font-Outfit text-sm font-bold tracking-wider w-4/26">Case</th>
          <th class="px-6 py-3 text-left font-Outfit text-sm font-bold tracking-wider w-4/26">Phone</th>
          <th class="px-6 py-3 text-left font-Outfit text-sm font-bold tracking-wider w-4/26">Parish</th>
        </tr>
      </thead>
      <tbody>
        <% @family_beneficiaries.each do |beneficiary| %>
          <tr class="hover:bg-gray-100">
            <td class="px-6 py-4 text-sm text-[#6e7079] w-6/26"><%= beneficiary.fathers_name %></td>
            <td class="px-6 py-4 text-sm text-[#6e7079] w-6/26"><%= beneficiary.mothers_name %></td>
            <td class="px-6 py-4 text-sm text-[#6e7079] w-2/26"><%= beneficiary.family_members %></td>
            <td class="px-6 py-4 text-sm text-[#6e7079] w-4/26"><%= beneficiary.case_name %></td>
            <td class="px-6 py-4 text-sm text-[#6e7079] w-4/26"><%= beneficiary.phone_number %></td>
            <td class="px-6 py-4 text-sm text-[#6e7079] w-4/26"><%= beneficiary.parish %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mt-6">
    <%= link_to 'Dashboard', users_path, class: "mt-4 inline-block bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>
  </div>
</div>
