Other item form
<h2>Individual Other Items Donation Form</p>
<%= form_with(model: [@request, @inventory], local: true, class: "space-y-6 mx-44") do |f| %>
  <div class="grid mx-44 grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex flex-col">
      <%= f.label :donor_name, class: "font-semibold text-gray-700" %>
      <%= f.text_field :donor_name, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :donor_type, class: "font-semibold text-gray-700" %>
      <%= f.select :donor_type, options_for_select(["individual_donor","family_donor","organization_donor"], @inventory.donor_type), { prompt: 'select donor type' }, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :donation_type, class: "font-semibold text-gray-700" %>
      <%= f.select :donation_type, options_for_select(["food", "cash", "cloth", "other_items"], @inventory.donation_type), { prompt: 'select donation type' }, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :other_item_name, class: "font-semibold text-gray-700" %>
      <%= f.text_field :cloth_name, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :other_item_condition, class: "font-semibold text-gray-700" %>
      <%= f.select :other_item_condition, options_for_select(["good_condition","bad_condition", "average_condition"]), { prompt: 'select other items condition' }, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :other_item_quantity, class: "font-semibold text-gray-700" %>
      <%= f.number_field :other_item_quantity, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :collection_date, class: "font-semibold text-gray-700" %>
      <%= f.date_field :collection_date, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :district_id, "District", class: "font-semibold text-gray-700" %>
      <%= f.collection_select :district_id, @districts, :id, :name, { prompt: "Select District", selected: @inventory.district_id}, { id: 'district-select', class: 'form-select mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500', 'data-context-path': "requests/#{@inventory.request_id}/inventories" } %>
    </div>
    <div class="flex flex-col">
      <%= f.label :county_id, "County", class: "font-semibold text-gray-700" %>
      <%= f.collection_select :county_id, @counties, :id, :name, { include_blank: "Select County", selected: @inventory.county_id }, { id: 'county-select', class: 'form-select mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500', 'data-context-path': "requests/#{@inventory.request_id}/inventories" } %>
    </div>
    <div class="flex flex-col">
      <%= f.label :sub_county_id, "Sub County", class: "font-semibold text-gray-700" %>
      <%= f.collection_select :sub_county_id, @sub_counties, :id, :name, { include_blank: "Select Sub County", selected: @inventory.sub_county_id }, { id: 'sub-county-select', class: 'form-select mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500' } %>
    </div>
    <div class="flex flex-col">
      <%= f.label :branch_id, "branch", class: "font-semibold text-gray-700" %>
      <%= f.collection_select :branch_id, @branches, :id, :name, { include_blank: "Select branch", selected: @inventory.branch_id }, { id: 'branch-select', class: 'form-select mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500', 'data-context-path': "requests/#{@inventory.request_id}/inventories" } %>
    </div>
    <div class="flex flex-col">
      <%= f.label :place_of_collection, class: "font-semibold text-gray-700" %>
      <%= f.text_field :place_of_collection, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :residence_address, class: "font-semibold text-gray-700" %>
      <%= f.text_field :residence_address, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :phone_number, class: "font-semibold text-gray-700" %>
      <%= f.text_field :phone_number, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
  </div>
  <div class="flex justify-end">
    <%= f.submit "Save", class: "py-2 px-4 bg-green-600 text-gray rounded-md shadow-sm " %>
  </div>
<% end %>