<!-- app/views/branches/_form.html.erb -->
<%= form_with(model: @branch, local: true, class: "space-y-6") do |form| %>
  <% if @branch.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <strong class="font-bold"><%= pluralize(@branch.errors.count, "error") %> prevented this branch from being saved:</strong>
      <ul class="mt-2">
        <% @branch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Name Field -->
  <div>
    <%= form.label :name, 'Branch Name', class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full", placeholder: "Enter branch name", required: true %>
  </div>
  <!-- Phone Number Field -->
  <div>
    <%= form.label :phone_number, 'Phone Number', class: "block text-sm font-medium text-gray-700" %>
    <%= form.telephone_field :phone_number, class: "mt-1 block w-full", placeholder: "Enter phone number", required: true %>
  </div>
  <!-- Districts Checkbox List -->
    <div>
      <%= form.label :district_ids, 'Select Districts', class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-2 max-h-40 overflow-y-scroll border rounded-md p-2 bg-gray-50 grid grid-cols-5 gap-4">
        <% District.all.each do |district| %>
          <div class="flex items-center space-x-2">
            <%= check_box_tag "branch[district_ids][]", district.id, @branch.district_ids.include?(district.id), id: "district_#{district.id}" %>
            <%= label_tag "district_#{district.id}", district.name, class: "text-sm text-gray-700" %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="flex space-x-4 mt-4">
      <%= form.submit @branch.new_record? ? "Create Branch" : "Update Branch", class: "bg-blue-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600" %>
   </div>
  <% end %>
