<!-- app/views/branches/_form.html.erb -->
<%= form_with(model: @branch, local: true, class: "space-y-6") do |form| %>
  <% if @branch.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <strong class="font-bold"><%= pluralize(@branch.errors.count, "error") %> prevented this branch from being saved:</strong>
      <ul class="mt-2">
        <% @branch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Name Field -->
  <div>
    <%= form.label :name, 'Branch Name', class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full", placeholder: "Enter branch name", required: true %>
  </div>
  <!-- Phone Number Field -->
  <div>
    <%= form.label :phone_number, 'Phone Number', class: "block text-sm font-medium text-gray-700" %>
    <%= form.telephone_field :phone_number, class: "mt-1 block w-full", placeholder: "Enter phone number", required: true %>
  </div>
  <!-- District Dropdown -->
  <div>
    <%= form.label :district_id, 'District', class: "block text-sm font-medium text-gray-700" %>
    <%= form.collection_select :district_ids, @districts, :id, :name, { prompt: "Select District"}, { multiple: true , class: "mt-1 block w-full", id: "district-select", 'data-context-path': 'branches' } %>
  </div>
  <!-- County Dropdown (Initially empty or pre-filled for edit) -->
  <div>
    <%= form.label :county_id, 'County', class: "block text-sm font-medium text-gray-700" %>
    <select id="county-select" name="branch[county_id]" class="mt-1 block w-full">
      <option value="">Select County</option>
      <% @counties.each do |county| %>
        <option value="<%= county.id %>" <%= 'selected' if county.id == @branch.county_id %>><%= county.name %></option>
        <% end %>
      </select>
    </div>
    <!-- Submit Button -->
    <div class="flex space-x-4 mt-4">
      <%= form.submit @branch.new_record? ? "Create Branch" : "Update Branch", class: "bg-blue-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600" %>
    </div>
  <% end %>
