<p>Cash Form</p>
<div class="p-4">
  <%= form_with(model: [@request, @inventory], local: true) do |form| %>    
    <!-- Selected Dropdown -->
      <div class="col-span-2">
        <%= form.label :is_selected, "Selected", class: "block font-medium mb-2" %>
        <%= form.select :is_selected, [['Yes', true], ['No', false]], {}, { class: "form-select w-full" } %>
      </div>

    <div class="grid grid-cols-2 gap-6">
      <!-- Organization Name -->
      <div>
        <%= form.label :name, "Organization name", class: "block font-medium mb-2" %>
        <%= form.text_field :name, placeholder: "Full name", class: "form-input w-full" %>
      </div>

      <!-- Phone Number -->
      <div>
        <%= form.label :phone_number, "Phone number", class: "block font-medium mb-2" %>
        <%= form.text_field :phone_number, placeholder: "+219 030005 043", class: "form-input w-full" %>
      </div>
    </div>
    

      <!-- Registration No and Head of the Institution -->
      <div class="grid grid-cols-2 gap-6">
        <div>
            <%= form.label :registration_no, "Registration no", class: "block font-medium mb-2" %>
            <%= form.text_field :registration_no, placeholder: "Registration no", class: "form-input w-full" %>
        </div>
        <div>
            <%= form.label :head_of_institution, "Head of the institution", class: "block font-medium mb-2" %>
            <%= form.text_field :head_of_institution, placeholder: "Head of the institution", class: "form-input w-full" %>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="mt-6 text-center">
      <%= form.submit "Submit", class: "bg-blue-500 text-white py-2 px-6 rounded hover:bg-blue-700" %>
    </div>
  <% end %>
</div>
