<%= form_with(model: [ @request, @inventory ], url: request_inventories_path(@request), local: true, class: "space-y-6") do |f| %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex flex-col">
      <%= f.label :donor_name, class: "font-semibold text-gray-700" %>
      <%= f.text_field :donor_name, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :donor_type, class: "font-semibold text-gray-700" %>
      <%= f.text_field :donor_type, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :collection_date, class: "font-semibold text-gray-700" %>
      <%= f.date_field :collection_date, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :food_name, class: "font-semibold text-gray-700" %>
      <%= f.text_field :food_name, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :expire_date, class: "font-semibold text-gray-700" %>
      <%= f.date_field :expire_date, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :district_id, "District", class: "font-semibold text-gray-700" %>
      <%= f.collection_select :district_id, @districts, :id, :name, { prompt: "Select District" }, { id: 'district-select', class: 'form-select mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500', 'data-context-path': "requests/#{@inventory.request_id}/inventories" } %>
    </div>
    <div class="flex flex-col">
      <%= f.label :county_id, "County", class: "font-semibold text-gray-700" %>
      <%= f.collection_select :county_id, @counties, :id, :name, { include_blank: "Select County" }, { id: 'county-select', class: 'form-select mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500', 'data-context-path': "requests/#{@inventory.request_id}/inventories" } %>
    </div>
    <div class="flex flex-col">
      <%= f.label :sub_county_id, "Sub County", class: "font-semibold text-gray-700" %>
      <%= f.collection_select :sub_county_id, @sub_counties, :id, :name, { include_blank: "Select Sub County" }, { id: 'sub-county-select', class: 'form-select mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500' } %>
    </div>
    <div class="flex flex-col">
      <%= f.label :village_address, class: "font-semibold text-gray-700" %>
      <%= f.text_field :village_address, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :residence_address, class: "font-semibold text-gray-700" %>
      <%= f.text_field :residence_address, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :phone_number, class: "font-semibold text-gray-700" %>
      <%= f.text_field :phone_number, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :parish, class: "font-semibold text-gray-700" %>
      <%= f.text_field :parish, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :amount, class: "font-semibold text-gray-700" %>
      <%= f.number_field :amount, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :head_of_institution, class: "font-semibold text-gray-700" %>
      <%= f.text_field :head_of_institution, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :registration_no, class: "font-semibold text-gray-700" %>
      <%= f.text_field :registration_no, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
  </div>
  <div class="flex justify-end">
    <%= f.submit "Save", class: "py-2 px-4 bg-indigo-600 text-white rounded-md shadow-sm hover:bg-indigo-700 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" %>
  </div>
<% end %>
