<p ><strong class="text-green-700">Food Name:</strong> <%= inventory.food_name %></p>
<p ><strong class="text-green-700">Donation Amount:</strong> <%= number_to_human(inventory.amount) %></p>
<p ><strong class="text-green-700">Collection Date:</strong> <%= inventory.collection_date ? inventory.collection_date : 'N/A' %></p>
<p ><strong class="text-green-700">Expire Date:</strong> <%= inventory.expire_date ? inventory.expire_date.strftime('%Y-%m-%d') : 'N/A' %></p>
<p ><strong class="text-green-700">Status:</strong> <%= inventory.request.is_selected %></p>
