<div class="md:flex-row flex space-x-4">
  <a href="#" class="flex flex-col justify-around w-1/2 bg-[#6DC13D] rounded-lg shadow-md text-white">
    <div class="flex items-center space-x-2">
      <%= image_tag 'inventory.svg', alt: 'Selected', class: 'icon-class' %>
    </div>
    <div class="content-start flex w-full">
      <div class="flex flex-col w-1/2 mt-4">
        <span class="text-xs">Total Food Amount</span>
        <span class="text-xs"><%= @inventory_food.count %></span>
      </div>
      <div class="grow flex flex-col mt-4 w-1/2">
        <span class="text-xs">Donated</span>
        <span class="text-xs"><%= @inventory_donated.count %> 86%</span>
      </div>
    </div>
  </a>
  <div class="flex flex-col w-1/2">
    <a href="#" class="flex flex-col justify-between p-2 rounded-lg shadow-md">
      <div class="flex justify-between w-fit ">
        <div class="flex items-center space-x-2">
          <%= image_tag 'users.svg', alt: 'Selected', class: 'icon-class' %>
        </div>
        <p class="font-weight-100 ">This Week </p>
      </div>
      <div class="content-start flex w-full">
        <div class="flex flex-col w-1/2 mt-4">
          <span class="">Low stock alert</span>
          <span class=""><%= @inventory_stock_alert.count %> </span>
        </div>
        <div class=" grow flex flex-col mt-4 w-1/2">
          <span class="">Expired</span>
          <span class=""><%= @inventory_expired.count %> </span>
        </div>
      </div>
    </a>
  </div>
</div>
<section class="md:flex md:justify-between mt-4 mb-4">
  <h3 class="font-bold mb-4 mx-8 hidden md:block">Inventory Items</h3>
  <div class="flex justify-end space-x-4">
    <!-- Search Form -->
    <form class="max-w-md hidden md:block" action="<%= inventories_path %>" method="get">
      <div class="relative w-full">
        <input type="search" id="input-search" name="query" class="block p-2.5 pl-8 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Search" required />
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
      </div>
    </form>
    <!-- Filter Button -->
    <div id="filter-action" class="border-gray-950 h-fit p-2 hover:border-green-400 rounded-lg flex items-center border-2 cursor-pointer">
      <svg class="w-4 h-4 text-gray-800 dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/>
      </svg>
      <span class="ml-2 text-sm">Filter</span>
    </div>
    <!-- Add Button -->
    <div id="modal" tabindex="-1" aria-hidden="true" class="modal hidden fixed inset-0 z-50 flex items-center justify-center bg-neutral-950 bg-opacity-25">
      <div class="relative w-full max-w-lg p-4">
        <div class="bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal Header -->
          <div class="flex items-center justify-between p-4 border-b border-gray-200 dark:border-gray-600 rounded-t">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Inventory Filter</h3>
            <button type="button" id="close-modal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal Form -->
          <%= form_with url: inventories_path, method: :get, local: true, class: "p-4 space-y-4" do |f| %>
            <div>
              <%= f.label :donor_type, "Donation Type", class: "block text-sm font-medium text-gray-700 dark:text-white" %>
              <%= f.select :donor_type, [["Select Type", ""], ["Fresh Food", "fresh_food"], ["Dry Food", "dry_food"], ["Clothes", "clothing"], ["Cash", "cash"], ["Other", "other"]], {}, class: "mt-1 block w-full bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white" %>
            </div>
            <div>
              <%= f.label :collection_date, "Donation Date", class: "block text-sm font-medium text-gray-700 dark:text-white" %>
              <%= f.date_field :collection_date, class: "mt-1 block w-full bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white" %>
            </div>
            <div class="flex space-x-4">
              <div class="w-1/2">
                <%= f.label :start_date, "Collection Start Date", class: "block text-sm font-medium text-gray-700 dark:text-white" %>
                <%= f.date_field :start_date, class: "mt-1 w-full bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white" %>
              </div>
              <div class="w-1/2">
                <%= f.label :end_date, "Collection End Date", class: "block text-sm font-medium text-gray-700 dark:text-white" %>
                <%= f.date_field :end_date, class: "mt-1 w-full bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white" %>
              </div>
            </div>
            <div class="relative mb-6">
              <label for="collection-range" class="block text-sm font-medium text-gray-700 dark:text-white">Collection Amount Range</label>
              <div class="flex justify-between">
                <span class="text-sm text-gray-500 dark:text-gray-400">$<span id="min-range-value"><%= @min_collection_amount %></span></span>
                <span class="text-sm text-gray-500 dark:text-gray-400">$<span id="max-range-value"><%= @max_collection_amount %></span></span>
              </div>
              <div class="flex space-x-4">
                <div class="w-1/2">
                  <%= f.hidden_field :min_amount, id: "collection_amount_min", value: @min_collection_amount %>
                  <%= f.hidden_field :max_amount, id: "collection_amount_max", value: @max_collection_amount %>
                  <input id="collection-range-min" type="range" min="<%= @min_collection_amount %>" max="<%= @max_collection_amount %>" step="10" value="<%= @min_collection_amount %>" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" oninput="updateRangeValue(this.value, 'min')">
                </div>
                <div class="w-1/2">
                  <input id="collection-range-max" type="range" min="<%= @min_collection_amount %>" max="<%= @max_collection_amount %>" step="10" value="<%= @max_collection_amount %>" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" oninput="updateRangeValue(this.value, 'max')">
                </div>
              </div>
            </div>
            <!-- Modal Footer -->
            <div class="flex justify-end p-4 border-t border-gray-200 dark:border-gray-600">
              <%= f.submit "Apply Filter", class: "px-5 py-2.5 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <button data-modal-target="default-modal" data-modal-toggle="default-modal" class=" h-fit p-2 border-gray-950 p-2 hover:border-green-400 rounded-lg flex border-2" type="button">
      <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <span class="ml-2 text-sm">Add</span>
    </button>
    <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h2 class="text-center text-3xl font-bold text-green-500 mb-6">Request Create Form</h2>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
          </div>
          <%= render partial: "inventories/add_form" %>
        </div>
      </div>
    </div>
    <div class="h-fit p-2 border-gray-950	p-2 hover:border-green-400 rounded-lg flex border-2">
      <svg  class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15.141 6 5.518 4.95a1.05 1.05 0 0 1 0 1.549l-5.612 5.088m-6.154-3.214v1.615a.95.95 0 0 0 1.525.845l5.108-4.251a1.1 1.1 0 0 0 0-1.646l-5.108-4.251a.95.95 0 0 0-1.525.846v1.7c-3.312 0-6 2.979-6 6.654v1.329a.7.7 0 0 0 1.344.353 5.174 5.174 0 0 1 4.652-3.191l.004-.003Z"/>
      </svg>
      <span class="text-sm">Share</span>
    </div>
    <div id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="hidden md:block h-fit p-2 text-xs relative border-gray-950 p-2 hover:border-green-400 rounded-lg flex items-center border-2 cursor-pointer">
      Bulk Action
      <svg class="w-4 h-4 ml-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
      </svg>
    </div>
    <!-- Dropdown menu -->
    <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
        <li id="bulk-delete" class="p-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer">Delete Selected</li>
      </ul>
    </div>
  </div>
</section>
<%= turbo_frame_tag "inventories" do %>
  <div class="flow-root mt-8">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="inventories__table--shadow overflow-hidden border border-gray-200 rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50 font-bold">
              <tr>
                <td class="py-2 px-4 text-sm ">
                  <input type="checkbox" id="select-all" class="form-checkbox hidden md:flex rounded-md" aria-label="Select all items">
                </td>
                <%= sortable_table_header 'Food Name', :food_name, :inventories_path, class: 'inventories__row--header  py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Donation Amount', :amount, :inventories_path, class: 'inventories__row--header  py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Collection Date', :collection_date, :inventories_path, class: 'inventories__row--header  py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Expired Date', :expire_date, :inventories_path, class: 'inventories__row--header  py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Status', :status, :inventories_path, class: 'inventories__row--header md:flex hidden  py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Actions', :nil, :inventories_path, class: 'inventories__row--header md:block hidden  py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
              </tr>
            </thead>
            <tbody class="bg-white">
              <% @inventories.each do |inventory| %>
                <tr class="hover:bg-gray-100 transition-colors"  >
                  <td class="py-2 px-4 text-sm text-gray-900">
                    <input type="checkbox" name="selected_inventories[]" value="<%= inventory.id %>" class=" md:flex hidden form-checkbox rounded-md inventory-checkbox" aria-label="Select inventory <%= inventory.id %>">
                  </td>
                  <td onclick="window.location.href='<%= inventory_path(inventory) %>'" class="inventories__row inventories__row--donation-type py-2 px-4 text-sm text-gray-600  text-center">
                    <%= inventory.food_name %>
                  </td>
                  <td  onclick="window.location.href='<%= inventory_path(inventory) %>'" class="inventories__row inventories__row--collection-amount py-2 px-4 text-sm text-gray-600  text-center">
                    <%= number_to_human(inventory.amount) %>
                  </td>
                  <td  onclick="window.location.href='<%= inventory_path(inventory) %>'" class="inventories__row inventories__row--created-at py-2 px-4 text-sm text-gray-600  text-center">
                    <%= inventory.collection_date.strftime('%Y-%m-%d') %>
                  </td>
                  <td onclick="window.location.href='<%= inventory_path(inventory) %>'" class="inventories__row inventories__row--expire-date py-2 px-4 text-sm text-gray-600  text-center">
                    <%= inventory.expire_date ? inventory.expire_date.strftime('%Y-%m-%d') : 'N/A' %>
                  </td>
                  <td onclick="window.location.href='<%= inventory_path(inventory) %>'" class="py-2 px-4 text-sm md:flex hidden rounded-lg text-gray-600">
                    <% if inventory.request.is_selected %>
                      <%= image_tag 'Check circle.svg', alt: 'Selected', class: 'icon-class' %>
                    <% else %>
                      <%= image_tag 'Alert circle.svg', alt: 'Not Selected', class: 'icon-class' %>
                    <% end %>
                  </td>
                  <td onclick="window.location.href='<%= inventory_path(inventory) %>'" class=" md:flex hidden py-2 px-4 text-sm text-gray-600" data-url="<%= inventory_path(inventory) %>">
                    <button onclick="window.location.href='<%= inventory_path(inventory) %>'"  data-remote="true" data-url="<%= inventory_path(inventory) %>" type="button">
                      <%= image_tag("Icon.svg", alt: "show-icon", class: "show-action-icon") %>
                    </button>
                    <button data-modal-target="edit-modal" data-modal-toggle="edit-modal" class="" type="button">
                      <%= image_tag("Edit.svg", alt: "edit-icon", class: "action-icon") %>
                    </button>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="pagination-container  flex items-center justify-between py-4">
  <!-- Items per page dropdown -->
  <div class="items-per-page">
    <select id="items-per-page" name="per_page" onchange="window.location.href='?per_page=' + this.value" class="rounded-lg bg-gray-200 px-2 py-1">
      <% [10, 25, 50, 100, 'All'].each do |count| %>
        <option class="text-xs" value="<%= count == 'All' ? 0 : count %>" <%= 'selected' if count == @per_page || (count == 'All' && @per_page == 0) %>>
            <%= count == 'All' ? 'Show All' : count %>
          </option>
        <% end %>
      </select>
      <label for="items-per-page" class="text-xs">Items per page</label>
    </div>
    <div class="flex justify-between gap-4">
      <!-- Current page display -->
      <div class="page-display flex items-center">
        <input id="current-page" type="number" min="1" max="<%= @total_pages %>" value="<%= @page_no %>" class=" rounded-lg px-2 py-1 bg-gray-200 text-center w-12"
      onchange="window.location.href='?page=' + this.value + '&per_page=' + document.getElementById('items-per-page').value">
        <span class="ml-2">of <%= @total_pages %> pages</span>
      </div>
      <!-- Navigation buttons -->
      <div class="pagination-buttons flex gap-4 items-center">
        <% if @page_no > 1 %>
          <%= link_to '<', inventories_path(page: @page_no - 1, per_page: @per_page)%>
        <% else %>
          <span><</span>
            <% end %>
            <% if @page_no < @total_pages %>
              <%= link_to '>', inventories_path(page: @page_no + 1, per_page: @per_page)  %>
            <% else %>
              <span >></span>
            <% end %>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener("turbo:load", function() {
          const modal = document.getElementById("modal");
          const openModalBtn = document.getElementById("filter-action");
          const closeModalBtn = document.getElementById("close-modal");
          const selectAllCheckbox = document.getElementById("select-all");
          const inventoryCheckboxes = document.querySelectorAll(".inventory-checkbox");
          const bulkDeleteBtn = document.querySelector("#bulk-delete");

          selectAllCheckbox.addEventListener("change", () => {
              inventoryCheckboxes.forEach(checkbox => {
                  checkbox.checked = selectAllCheckbox.checked;
              });
          });


          bulkDeleteBtn.addEventListener("click", () => {
            const selectedIds = Array.from(inventoryCheckboxes)
              .filter(checkbox => checkbox.checked)
              .map(checkbox => checkbox.value);

            if (selectedIds.length > 0) {
              if (confirm("Are you sure you want to delete the selected items?")) {
                fetch("/inventories/bulk_delete", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content
                  },
                  body: JSON.stringify({ ids: selectedIds })
                }).then(response => {
                  if (response.ok) {
                    location.reload();
                  } else {
                    alert("Failed to delete items.");
                  }
                });
              }
            } else {
              alert("No items selected.");
            }
          });

          openModalBtn.addEventListener("click", () => {
            modal.classList.remove("hidden");
          });

          closeModalBtn.addEventListener("click", () => {
            modal.classList.add("hidden");
          });

        });
      </script>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          document.querySelectorAll('button[data-modal-toggle]').forEach(button => {
            button.addEventListener('click', async () => {
              const modalId = button.getAttribute('data-modal-target');
              const modal = document.getElementById(modalId);
              const url = button.getAttribute('data-url');
              const inventoryId = button.dataset.id;
              console.log(inventoryId)

              if (url && modal) {
                const modalContent = modal.querySelector(`#modal-content-${inventoryId}`);
                if (modalContent) {
                  try {
                    const response = await fetch(url);
                    if (response.ok) {
                      const html = await response.text();
                      console.log(html)
                      console.log(url)
                      modalContent.innerHTML = html;
                    } else {
                      modalContent.innerHTML = '<p class="text-red-500">Failed to load inventory data.</p>';
                    }
                  } catch (error) {
                    console.error('Error loading modal content:', error);
                    modalContent.innerHTML = '<p class="text-red-500">Failed to load inventory data.</p>';
                  }
                }
                modal.classList.remove('hidden');
              }
            });
          });
        });
      </script>