<%= form_with(model: [@request, @individual_beneficiary], url: request_individual_beneficiary_path(@request), local: true, class: "space-y-6") do |form| %>
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <% if @individual_beneficiary.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
        <strong class="font-bold">Oops!</strong> <span class="block">Please fix the following errors:</span>
        <ul class="list-disc pl-5">
          <% @individual_beneficiary.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid gap-6 mt-4 md:grid-cols-2 p-5">
      <div>
        <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "John" %>
      </div>

      <div>
        <%= form.label :age, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.number_field :age, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "25" %>
      </div>
      <div>
  <%= form.label :gender, class: "block mb-2 text-sm font-medium text-gray-900" %>
  <%= form.select :gender, ['Male', 'Female'], { prompt: 'Select Gender' }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" %>
</div>
<div>
        <%= form.label :phone_number, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :phone_number, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "123-45-678" %>
      </div>
      <div>
        <%= form.label :fathers_name, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :fathers_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Father's Name" %>
      </div>
      <div>
        <%= form.label :mothers_name, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :mothers_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Mother's Name" %>
      </div>
      
      <div>
        <%= form.label :residence_address, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :residence_address, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Buziga Hill PO BOX 16562" %>
      </div>
      <div>
        <%= form.label :village, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :village, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Your Village" %>
      </div>
      <div>
        <%= form.label :parish, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :parish, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Your Parish" %>
      </div>
        <div>
        <%= form.label :district_id, "District", class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.collection_select :district_id, @districts, :id, :name, { prompt: 'Select a district' }, { id: 'district-select', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", 'data-context-path': "requests/#{@individual_beneficiary.request_id}/individual_beneficiary" } %>
      </div>
      <div>
        <%= form.label :county_id, "County", class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.collection_select :county_id, @counties, :id, :name, { prompt: 'Select a county' }, { id: 'county-select', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", 'data-context-path': "requests/#{@individual_beneficiary.request_id}/individual_beneficiary" } %>
      </div>
      
      <div>
        <%= form.label :sub_county_id, "Sub-County", class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.collection_select :sub_county_id, @sub_counties, :id, :name, { prompt: 'Select a sub-county' }, { id: 'sub-county-select', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
      </div>

      <div>
        <%= form.label :branch_id, "Branch", class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.collection_select :branch_id, @branches, :id, :name, { prompt: 'Select a branch' }, { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
      </div>

      <div>
        <%= form.label :provided_food, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.number_field :provided_food, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "0" %>
      </div>
      <div>
        <%= form.label :case_name, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :case_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Case Name" %>
      </div>
      <div>
        <%= form.label :case_description, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_area :case_description, rows: 4, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Describe the case" %>
      </div>

    

      <!-- Add event_id if present -->
      <% if @individual_beneficiary.event.present? %>
        <div>
          <%= form.hidden_field :event_id, value: @individual_beneficiary.event.id %>
        </div>
      <% end %>
    </div>

    <div class="pt-6">
      <%= form.submit class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700" %>
    </div>
  </div>
<% end %>
