<%= form_with(model: [@request, @organization_beneficiary], url: request_organization_beneficiary_path(@request), local: true, class: "space-y-6") do |form| %>
  <section class="p-5">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4 text-gray-900">
        <%= @organization_beneficiary.persisted? ? "Edit Organization Beneficiary" : "Create Organization Beneficiary" %>
      </h2>
      <div class="grid gap-6 mt-4 md:grid-cols-2 lg:grid-cols-3">
        <div>
          <%= form.label :organization_name, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :organization_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Organization Name" %>
        </div>
        <div>
          <%= form.label :male, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.number_field :male, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Number of Male" %>
        </div>
        <div>
          <%= form.label :female, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.number_field :female, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Number of Female" %>
        </div>
        <div>
          <%= form.label :adult_age_range, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :adult_age_range, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Adults Age Range" %>
        </div>
        <div>
          <%= form.label :children_age_range, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :children_age_range, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Contact Age Range" %>
        </div>
        <div class="flex flex-col">
          <%= form.label :district_id, "District", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.collection_select :district_id, @districts, :id, :name, { prompt: 'Select a district', selected: @request.district_id }, { class: "district-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", 'data-context-path': "requests/#{@organization_beneficiary.request_id}/organization_beneficiary" } %>
        </div>
        <div class="flex flex-col">
          <%= form.label :county_id, "County", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.collection_select :county_id, @counties, :id, :name, { prompt: 'Select a county' }, { class: "county-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", 'data-context-path': "requests/#{@organization_beneficiary.request_id}/organization_beneficiary" } %>
        </div>
        <div class="flex flex-col">
          <%= form.label :sub_county_id, "Sub County", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.collection_select :sub_county_id, @sub_counties, :id, :name, { prompt: 'Select a sub-county' }, { class: "sub-county-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
        </div>
        <div>
          <%= form.label :branch_id, "Branch", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.collection_select :branch_id, @branches, :id, :name, { prompt: 'Select a branch', selected: @request.branch_id }, { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
        </div>
        <div>
          <%= form.label :village, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :village, value: @request.village, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Village" %>
        </div>
        <div>
          <%= form.label  :parish, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :parish, value: @request.parish, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Parish" %>
        </div>
        <div>
          <%= form.label :residence_address, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_area :residence_address, value: @request.residence_address, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Residence Address" %>
        </div>
        <div>
          <%= form.label :phone_number, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.telephone_field :phone_number, value: @request.phone_number, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Phone Number" %>
        </div>
        <div>
          <%= form.label :case_name, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :case_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Case Name" %>
        </div>
        <div>
          <%= form.label :case_description, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_area :case_description, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Case Description" %>
        </div>
        <div>
          <%= form.label :registration_no, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :registration_no, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Registration no" %>
        </div>
        <div>
          <%= form.label :organization_no, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :organization_no, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Organization no" %>
        </div>
        <div>
          <%= form.label :directors_name, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :directors_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Directors no" %>
        </div>
        <div>
          <%= form.label  :head_of_institution, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :head_of_institution, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Head of Institution" %>
        </div>
        <div>
          <%= form.label :number_of_meals_home, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.number_field :number_of_meals_home, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Number of Meals for Home" %>
        </div>
        <div>
          <%= form.label :basic_FEH, "Basic food eaten at home", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :basic_FEH, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Basic Food Eaten At Home" %>
        </div>
        <div>
          <%= form.label :basic_FES, "Basic food eaten at school", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.text_field :basic_FES, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Basic Food Eaten At School" %>
        </div>
        <div>
          <%= form.label :provided_food, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= form.number_field :provided_food, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", placeholder: "Provided Food" %>
        </div>
      </div>
      <div class="actions grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
        <div>
          <%= form.submit "Submit", class: "w-full py-2 px-4 bg-lightGreen text-white font-Outfit rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        </div>
        <div>
          <%= link_to 'Back to Beneficiaries', organization_beneficiaries_path, class: "w-full block py-2 px-4 bg-darkBlue text-white font-Outfit rounded-md text-center hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        </div>
      </div>
    </div>
  </section>
<% end %>
