
<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>

<aside id="logo-sidebar" class="h-screen sm:h-auto mobile-sidebar desktop-sidebar tab-sidebar z-40 transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full rounded-2xl px-3 pt-2 md:py-10 bg-lightGreen flex flex-col justify-center items-center">
      
      <div>
         <%= image_tag("hnh_admin_logo.png",                
                alt: "Hnh Logo") %>
      </div>

      <p class="py-2 text-white font-Outfit font-normal text-sm mr-24">MANAGE</p>

      <ul class="space-y-2 overflow-y-auto font-Outfit font-normal text-sm">
         <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg hover:bg-white group">
               <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-lightGreen">
                  <path d="M7.25317 3H6.25317C4.59631 3 3.25317 4.34315 3.25317 6V14C3.25317 15.6569 4.59631 17 6.25317 17H7.25317V3ZM8.25317 17H14.2532C15.91 17 17.2532 15.6569 17.2532 14V13H8.25317V17ZM17.2532 12V6C17.2532 4.34315 15.91 3 14.2532 3H8.25317V12H17.2532Z" class="fill-white group-hover:fill-lightGreen"/>
               </svg>
               <span class="ms-3 group-hover:text-lightGreen">Dashboard</span>
            </a>
         </li>

         <li>
               <%= link_to users_path, class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-lightGreen">
                     <path d="M3.75317 4C2.92474 4 2.25317 4.67157 2.25317 5.5V14.5C2.25317 15.3284 2.92474 16 3.75317 16H16.7532C17.5816 16 18.2532 15.3284 18.2532 14.5V5.5C18.2532 4.67157 17.5816 4 16.7532 4H3.75317ZM6.75317 10C5.92474 10 5.25317 9.32843 5.25317 8.5C5.25317 7.67157 5.92474 7 6.75317 7C7.58159 7 8.25317 7.67157 8.25317 8.5C8.25317 9.32843 7.58159 10 6.75317 10ZM5.20195 10.75H8.30438C8.82838 10.75 9.25317 11.1748 9.25317 11.6988C9.25317 12.546 8.67655 13.2845 7.85461 13.49L7.7956 13.5048C7.11117 13.6759 6.39515 13.6759 5.71073 13.5048L5.65172 13.49C4.82978 13.2845 4.25317 12.546 4.25317 11.6988C4.25317 11.1748 4.67795 10.75 5.20195 10.75ZM11.2532 8.5C11.2532 8.22386 11.477 8 11.7532 8H14.7532C15.0293 8 15.2532 8.22386 15.2532 8.5C15.2532 8.77614 15.0293 9 14.7532 9H11.7532C11.477 9 11.2532 8.77614 11.2532 8.5ZM11.7532 11H14.7532C15.0293 11 15.2532 11.2239 15.2532 11.5C15.2532 11.7761 15.0293 12 14.7532 12H11.7532C11.477 12 11.2532 11.7761 11.2532 11.5C11.2532 11.2239 11.477 11 11.7532 11Z" fill="white" class="fill-white group-hover:fill-lightGreen"/>
                  </svg>

                  <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen">Staffs</span>
               <% end %>
         </li>

<li>
  <%= link_to "#", class: "flex items-center p-2 rounded-lg text-white hover:bg-white group" do %>
    <i class="fa-solid fa-list group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Inventory</span>
  <% end %>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-regular fa-circle-check group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Requests</span>
  <% end %>
</li>

<li>
<details class="">
  <summary class="flex items-center p-2 text-white rounded-lg cursor-pointer hover:bg-white group">
  <i class="fa-solid fa-user-group group-hover:text-lightGreen text-base"></i>
    <span class="ms-3 group-hover:text-lightGreen text-base">Beneficiaries</span>
    <i class="fa-solid fa-chevron-down group-hover:text-lightGreen ms-auto transition-transform duration-200"></i>
  </summary>
  <ul class="space-y-2 ms-8 border-l-2 border-white pl-3 mt-2">
    <li>
      <%= link_to districts_path, class: "flex items-center text-white" do %>
        <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
        <span>Individual</span>
      <% end %>
    </li>
    <li>
      <%= link_to counties_path, class: "flex items-center text-white" do %>
        <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
        <span>Family</span>
      <% end %>
    </li>
    <li>
      <%= link_to sub_counties_path, class: "flex items-center text-white" do %>
        <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
        <span>Organization</span>
      <% end %>
    </li>
  </ul>
</details>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-gift group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Donors</span>
  <% end %>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-arrow-trend-up group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Events</span>
  <% end %>
</li>

<% if current_user.role.in?(%w[super_admin admin branch_manager]) %>
  <li>
    <details class="">
      <summary class="flex items-center p-2 text-white rounded-lg cursor-pointer hover:bg-white group">
        <i class="fa-solid fa-chart-pie group-hover:text-lightGreen text-base"></i>
        <span class="ms-3 group-hover:text-lightGreen text-base">Data Management</span>
        <i class="fa-solid fa-chevron-down group-hover:text-lightGreen ms-auto transition-transform duration-200"></i>
      </summary>
      <ul class="space-y-2 ms-8 border-l-2 border-white pl-3 mt-2">
        <li>
          <%= link_to districts_path, class: "flex items-center text-white" do %>
            <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
            <span>District</span>
          <% end %>
        </li>
        <li>
          <%= link_to counties_path, class: "flex items-center text-white" do %>
            <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
            <span>County</span>
          <% end %>
        </li>
        <li>
          <%= link_to sub_counties_path, class: "flex items-center text-white" do %>
            <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
            <span>Sub-county</span>
          <% end %>
        </li>
      </ul>
    </details>
  </li>
<% end %>

         <p class="py-2 text-white font-Outfit font-normal text-sm mr-20">PREFERENCE</p>
         <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg hover:bg-white group">
               
               <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-lightGreen">
                  <path d="M0.163902 6.38266C0.533193 5.24053 1.14154 4.19213 1.94424 3.30364C2.07998 3.15339 2.29294 3.09984 2.4836 3.16802L4.40188 3.85392C4.92196 4.03977 5.49422 3.76883 5.68008 3.24875C5.69835 3.19762 5.71243 3.14507 5.72216 3.09173L6.08762 1.08573C6.12395 0.886273 6.27713 0.728505 6.47543 0.686297C7.05562 0.562802 7.65049 0.5 8.25317 0.5C8.85547 0.5 9.45 0.562725 10.0299 0.686072C10.2281 0.728241 10.3813 0.88591 10.4177 1.08529L10.7842 3.09165C10.8832 3.63497 11.404 3.9951 11.9473 3.89601C12.0008 3.88627 12.0533 3.87219 12.1044 3.85395L14.0227 3.16802C14.2134 3.09984 14.4264 3.15339 14.5621 3.30364C15.3648 4.19213 15.9731 5.24053 16.3424 6.38266C16.4047 6.57534 16.3447 6.78658 16.1903 6.91764L14.6354 8.23773C14.2145 8.5952 14.163 9.22627 14.5204 9.64726C14.5556 9.68865 14.5941 9.72712 14.6354 9.76225L16.1903 11.0824C16.3447 11.2134 16.4047 11.4247 16.3424 11.6173C15.9731 12.7595 15.3648 13.8079 14.5621 14.6964C14.4264 14.8466 14.2134 14.9002 14.0227 14.832L12.1045 14.1461C11.5844 13.9602 11.0121 14.2312 10.8263 14.7512C10.808 14.8024 10.7939 14.8549 10.7841 14.9085L10.4177 16.9147C10.3813 17.1141 10.2281 17.2718 10.0299 17.3139C9.45 17.4373 8.85547 17.5 8.25317 17.5C7.65049 17.5 7.05562 17.4372 6.47543 17.3137C6.27713 17.2715 6.12395 17.1137 6.08762 16.9143L5.72217 14.9084C5.62309 14.365 5.10231 14.0049 4.55899 14.104C4.50556 14.1137 4.45302 14.1278 4.40197 14.1461L2.4836 14.832C2.29294 14.9002 2.07998 14.8466 1.94424 14.6964C1.14154 13.8079 0.533193 12.7595 0.163902 11.6173C0.101601 11.4247 0.161674 11.2134 0.316044 11.0824L1.87089 9.76227C2.29188 9.4048 2.34337 8.77373 1.9859 8.35274C1.95075 8.31135 1.91228 8.27288 1.87091 8.23775L0.316044 6.91764C0.161674 6.78658 0.101601 6.57534 0.163902 6.38266ZM6.25317 9C6.25317 10.1046 7.1486 11 8.25317 11C9.35774 11 10.2532 10.1046 10.2532 9C10.2532 7.89543 9.35774 7 8.25317 7C7.1486 7 6.25317 7.89543 6.25317 9Z" fill="white" class="fill-white group-hover:fill-lightGreen"/>
               </svg>


               <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen">Profile</span>
               
            </a>
         </li>
         <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg hover:bg-white group">
                              
               <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-lightGreen">
                     <path d="M10.5305 2.08397C10.3626 1.97201 10.1438 1.97201 9.97582 2.08397C8.03762 3.3761 5.9415 4.1823 3.68246 4.50503C3.43613 4.54021 3.25317 4.75117 3.25317 5V9.5C3.25317 13.3913 5.56016 16.2307 10.0737 17.9667C10.1892 18.0111 10.3171 18.0111 10.4327 17.9667C14.9462 16.2307 17.2532 13.3913 17.2532 9.5V5C17.2532 4.75117 17.0702 4.54021 16.8239 4.50503C14.5648 4.1823 12.4687 3.3761 10.5305 2.08397ZM11.7532 9C11.7532 9.65311 11.3358 10.2087 10.7532 10.4146V12.5C10.7532 12.7761 10.5293 13 10.2532 13C9.97702 13 9.75317 12.7761 9.75317 12.5V10.4146C9.17057 10.2087 8.75317 9.65311 8.75317 9C8.75317 8.17157 9.42474 7.5 10.2532 7.5C11.0816 7.5 11.7532 8.17157 11.7532 9Z" fill="white" class="fill-white group-hover:fill-lightGreen"/>
               </svg>

               <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen">Security</span>
               
            </a>
         </li>
         <li>
            <a href="#" class="flex items-center p-2 text-white rounded-lg hover:bg-white group">
                                
               <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-lightGreen">
                  <path d="M13.0032 17.5C13.4174 17.5 13.7532 17.1642 13.7532 16.75C13.7532 16.3358 13.4174 16 13.0032 16H6.75317C5.6486 16 4.75317 15.1046 4.75317 14V6C4.75317 4.89543 5.6486 4 6.75317 4H13.0032C13.4174 4 13.7532 3.66421 13.7532 3.25C13.7532 2.83579 13.4174 2.5 13.0032 2.5H6.75317C4.82017 2.5 3.25317 4.067 3.25317 6V14C3.25317 15.933 4.82017 17.5 6.75317 17.5H13.0032ZM13.9945 6.1989C14.2988 5.91795 14.7733 5.93693 15.0543 6.24129L18.0543 9.49129C18.3195 9.77859 18.3195 10.2214 18.0543 10.5087L15.0543 13.7587C14.7733 14.0631 14.2988 14.0821 13.9945 13.8011C13.6901 13.5202 13.6711 13.0457 13.9521 12.7413L15.7902 10.75H8.00317C7.58895 10.75 7.25317 10.4142 7.25317 10C7.25317 9.58579 7.58895 9.25 8.00317 9.25H15.7902L13.9521 7.25871C13.6711 6.95435 13.6901 6.47985 13.9945 6.1989Z" fill="white" class="fill-white group-hover:fill-lightGreen"/>
               </svg>

               <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen">Log out</span>
            </a>
         </li>
   
      </ul>
   </div>
</aside>

<script>
document.querySelector('[data-drawer-toggle="logo-sidebar"]').addEventListener('click', function () {
   const sidebar = document.getElementById('logo-sidebar');
   sidebar.classList.toggle('-translate-x-full');
   sidebar.classList.toggle('translate-x-0');
});
</script>