<nav class="fixed top-0 z-50 w-full bg-white dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
      </div>
   <div class="flex justify-center ml-5 block lg:hidden">   
   <%= image_tag("hnh_admin_mobile_logo.png", alt: "Hnh mobile Logo", class: "h-8 w-8") %>
   </div>
      <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div class="flex items-center justify-between">
            <div class="flex items-center space-x-4">
              <button type="button" class="  focus:outline-none">
              <i class="fa-solid fa-bell text-darkBlue text-lg "></i>
              </button>
              <div class="text-sm hidden lg:block">
              <p class="text-gray-900 dark:text-white"><%= "#{current_user.first_name} #{current_user.last_name}" %></p>
              <p class="text-gray-500 dark:text-gray-400"><%= current_user.role.titleize %></p>            
              </div>
              <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
              </button>
            </div>
          </div>
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  <%= "#{current_user.first_name} #{current_user.last_name}" %>
                </p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                  <%= current_user.email %>
                </p>
              </div>
              <ul class="py-1" role="none">
              <li>
              <%= link_to "Dashboard", "#", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white", role: "menuitem" %>
            </li>
            <li>
              <%= link_to "Settings", "#", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white", role: "menuitem" %>
            </li>
            <li>
              <%= link_to "Earnings", "#", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white", role: "menuitem" %>
            </li>
            <li>
              <%= link_to "Sign out", "#", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white", role: "menuitem" %>
            </li>            
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</nav>


<aside id="logo-sidebar" class="fixed top-8 lg:top-20 left-0 lg:left-5 z-40 w-60  h-full sm:h-full lg:h-[85%] xl:h-[90%] lg:rounded-lg pt-20 lg:pt-5 transition-transform -translate-x-full bg-lightGreen border-r border-gray-200 lg:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
   <div class="h-full px-3 pb-4 overflow-y-auto bg-lightGreen dark:bg-gray-800 md:rounded-lg">
   <div class="flex justify-center hidden lg:block">   
   <%= image_tag("hnh_admin_logo.png", alt: "Hnh Logo", class: "h-15 w-15") %>
   </div>
   <p class="py-2 text-white font-Outfit font-normal text-sm mr-24">MANAGE</p>
      <ul class="space-y-2 font-medium">
      <li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-table-columns group-hover:text-lightGreen text-base"></i>
    <span class="ms-3 group-hover:text-lightGreen text-base">Dashboard</span>
  <% end %>
</li>

<li>
  <%= link_to users_path, class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-id-card hover:text-lightGreen group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Staffs</span>
  <% end %>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 rounded-lg text-white hover:bg-white group" do %>
    <i class="fa-solid fa-list group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Inventory</span>
  <% end %>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-regular fa-circle-check group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Requests</span>
  <% end %>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-user-group group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-2 whitespace-nowrap group-hover:text-lightGreen text-base">Beneficiaries</span>
  <% end %>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-gift group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Donors</span>
  <% end %>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-arrow-trend-up group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Events</span>
  <% end %>
</li>

<% if current_user.role.in?(%w[super_admin admin branch_manager]) %>
  <li>
    <details class="">
      <summary class="flex items-center p-2 text-white rounded-lg cursor-pointer hover:bg-white group">
        <i class="fa-solid fa-chart-pie group-hover:text-lightGreen text-base"></i>
        <span class="ms-3 group-hover:text-lightGreen text-base">Data Management</span>
        <i class="fa-solid fa-chevron-down group-hover:text-lightGreen ms-auto transition-transform duration-200"></i>
      </summary>
      <ul class="space-y-2 ms-8 border-l-2 border-white pl-3 mt-2">
        <li>
          <%= link_to districts_path, class: "flex items-center text-white" do %>
            <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
            <span>District</span>
          <% end %>
        </li>
        <li>
          <%= link_to counties_path, class: "flex items-center text-white" do %>
            <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
            <span>County</span>
          <% end %>
        </li>
        <li>
          <%= link_to sub_counties_path, class: "flex items-center text-white" do %>
            <span class="w-2 h-2 bg-white rounded-full mr-2 text-base"></span>
            <span>Sub-county</span>
          <% end %>
        </li>
      </ul>
    </details>
  </li>
<% end %>

<p class="py-2 text-white font-Outfit font-normal text-sm mr-20">PREFERENCE</p>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-gear group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Profile</span>
  <% end %>
</li>

<li>
  <%= link_to "#", class: "flex items-center p-2 text-white rounded-lg hover:bg-white group" do %>
    <i class="fa-solid fa-arrow-right-from-bracket group-hover:text-lightGreen text-base"></i>
    <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-lightGreen text-base">Log out</span>
  <% end %>
</li>

      </ul>
   </div>
</aside>





<script>
document.querySelector('[data-drawer-toggle="logo-sidebar"]').addEventListener('click', function () {
   const sidebar = document.getElementById('logo-sidebar');
   sidebar.classList.toggle('-translate-x-full');
   sidebar.classList.toggle('translate-x-0');
});
</script>