<section>

  <div class="flex justify-between items-center lg:hidden">
      
    <%= button_to new_user_path, method: :get do  %>
      <%= image_tag("add_btn.png", alt: "add", class: "w-6 h-6") %>
    <% end %>
  
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-black bg-gray-100 hover:bg-lightGreen focus:outline-none focus:ring-lightGreen font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">Roles
     <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
      </svg>
    </button>
  
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
      <% @roles.each do |role| %>  
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100"><%= role.titleize %></a>
        </li>
      <% end %>         
      </ul>
    </div>
  </div>

  <div class="lg:hidden flex flex-col mt-8 gap-5 items-stretch font-Outfit">
    <% @users.each do |user| %>
      <div class="flex justify-between items-center p-4 bg-gray-100 rounded-lg shadow gap-5">
        <div class="flex justify-center items-center rounded-full w-12 h-12">
          <%= image_tag(user.image.attached? ? url_for(user.image) : "user.png", class: "rounded-full w-12 h-12", alt: user.first_name) %>
        </div>

        <div class="flex flex-col justify-center items-center">
          <p class="font-bold" id="user-first-name-<%= user.id %>" data-full-name="<%= user.first_name %>"><%= user.first_name %></p>
          <p class="flex"><span class="font-thin text-center text-xs"> <%= user.role.titleize %> </span></p>    
        </div>

        <div class="flex flex-row justify-center items-center gap-2">
          <div>
            <%= button_to user_path(user), method: :get do %>
              <%= image_tag("external_link.svg", alt: "edit") %>
              <% end %>
          </div>

          <div>
            <%= button_to edit_user_path(user), method: :get do %>
              <%= image_tag("edit.svg", alt: "edit") %>
            <% end %>
          </div>

          <div>
            <%= button_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= image_tag("delete.svg", alt: "delete") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <!-- Navigation on large screen -->
  <div class="hidden lg:flex flex-row justify-between items-center font-Outfit">
      <p class="font-bold">Staffs</p>

      <div class= "p-4 bg-lightGreen text-white rounded-xl">
        <%= link_to 'Add New Staff', new_user_path, alt: 'add new staff' %>
      </div>
        
      <div>
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdownId2" class="text-black bg-gray-100 hover:bg-lightGreen focus:outline-none focus:ring-lightGreen font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">Roles
        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownId2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <% @roles.each do |role| %>  
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100"><%= role.titleize %></a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
  </div>

  
  <!-- Users index page displayed on large screen -->
  <div class="hidden lg:grid lg:grid-cols-5 gap-2 lg:mt-10 lg:font-Outfit lg:font-lightGray">
    <% @users.each do |user| %>
    <ul class="relative h-[180px] w-[170px] max-w-full rounded-lg p-6 bg-white shadow-sm hover:bg-darkBlue hover:text-white bg-users-image">
      <li class="absolute top-2 right-2">
        <button id="dropdownButton<%= user.id %>" data-dropdown-toggle="dropdownMenu<%= user.id %>" class="text-gray-500 hover:text-gray-700 focus:outline-none">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zm0 4a2 2 0 110-4 2 2 0 010 4zm0 4a2 2 0 110-4 2 2 0 010 4z"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownMenu<%= user.id %>" class="hidden absolute right-0 mt-2 w-48 bg-white hover:text-white rounded-md shadow-lg z-10">
          <ul class="py-1 text-sm text-black">
            <li>
              <%= link_to 'Show', user_path(user), class: "block px-4 py-2 hover:bg-lightGray" %>
            </li>
            <li>
              <%= link_to 'Edit', edit_user_path(user), class: "block px-4 py-2 hover:bg-lightGray" %>
            </li>
            <li>
              <%= button_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "block w-full text-left px-4 py-2 hover:bg-lightGray" do %>
                Delete
              <% end %>
            </li>
          </ul>
        </div>
      </li>
      <li class="flex justify-center items-center mb-4">
        <%= image_tag(user.image.attached? ? url_for(user.image) : "user.png", class: "rounded-full w-14 h-14", alt: user.first_name) %>
      </li>
      <li class="flex flex-col justify-center items-center">
        <p class="font-bold text-sm "><%= user.first_name %></p>
        <p class="font-thin text-xs"><%= user.role %></p>
        <p class="font-thin text-xs"><%= user.email %></p>
      </li>
    </ul>
    <% end %>
  </div>

</section>