<section class="p-5">
  <!-- Navigation -->
  <div class="flex flex-row justify-between items-center font-Outfit">
    <div class="ssm:block mmd:hidden">
      <%= button_to new_user_path, method: :get do %>
        <%= image_tag("add_btn.png", alt: "add", class: "w-6 h-6") %>
      <% end %>
    </div>
    <p class="ssm:hidden mmd:block font-bold mmd:text-lg">Staffs</p>
    <div class="ssm:hidden mmd:block p-4 bg-lightGreen text-white rounded-xl">
      <%= link_to 'Add New Staff', new_user_path, alt: 'add new staff' %>
    </div>
    <div class="relative">
      <button id="dropDownMenuBtn" class="text-black bg-gray-100 hover:bg-lightGreen focus:outline-none focus:ring-lightGreen font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">Roles
        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="dropDownMenu" class="absolute right-0 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-lg z-10 hidden">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
          <% @roles.each do |role| %>
            <li class="flex justify-between items-center px-4 py-2 hover:bg-lightGreen hover:text-white cursor-pointer" data-role="<%= role %>" id="dropDownItems">
              <%= role.titleize %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- Users index page displayed -->
  <div class="<%= @users.size <= 3 ? 'mmd:flex mmd:flex-row ssm:gap-2' : 'ssm:flex ssm:flex-col mmd:grid mmd:grid-cols-[repeat(auto-fit,minmax(180px,1fr))] justify-center ssm:gap-2.5 mmd:gap-4' %> font-Outfit font-lightGray mt-10">
    <% @users.each do |user| %>
      <ul class="<%= @users.size <= 3 ? 'ssm:mt-2 mmd:w-56' : 'mmd:w-full ' %> ssm:flex ssm:flex-row ssm:justify-between ssm:items-center ssm:px-5 ssm:py-2 ssm:bg-gray-100 ssm:rounded-lg ssm:shadow font-Outfit mmd:m-0 mmd:p-5 mmd:block mmd:relative mmd:rounded-lg mmd:bg-white mmd:shadow-sm mmd:hover:bg-darkBlue mmd:hover:text-white mmd:bg-users-image mmd:bg-cover mmd:bg-center mmd:bg-no-repeat" data-users-type="<%= user.role %>" id="users-grid" >
        <li class="ssm:hidden mmd:block mmd:absolute mmd:top-2 mmd:right-2">
          <button id="userDropDwnBtn<%= user.id %>">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 6a2 2 0 110-4 2 2 0 010 4zm0 4a2 2 0 110-4 2 2 0 010 4zm0 4a2 2 0 110-4 2 2 0 010 4z"/>
            </svg>
          </button>
          <!-- Dropdown menu -->
                   <div id="userDropDwnMenu<%= user.id %>" class="hidden absolute right-0 mt-0 w-38 bg-white hover:text-white rounded-md shadow-lg z-10">
            <ul class="py-1 text-sm text-black font-bold font-Outfit">
              <li>
                <%= link_to 'View', user_path(user), class: "block px-4 py-2 hover:bg-lightGray text-DarkBlue" %>
              </li>
              <li>
                <% if can? :update, user %>
                  <%= link_to 'Edit', edit_user_path(user), class: "block px-4 py-2 hover:bg-lightGray text-lightGreen" %>
                <% end %>
              </li>
              <li>
                <% if can? :destroy, user %>
                  <%= button_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "block w-full text-left px-4 py-2 hover:bg-lightGray text-red-500" do %>
                    Delete
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li class="flex justify-center items-center ">
          <%= image_tag(user.image.attached? ? url_for(user.image) : "user.png", class: "rounded-full ssm:w-12 ssm:h-12 mmd:w-24 mmd:h-24", alt: user.first_name) %>
        </li>
        <li class="flex flex-col justify-center items-center mmd:mt-2">
          <p class="font-bold ssm:text-sm mmd:text-lg" id="user-first-name-<%= user.id %>" data-full-name="<%= user.first_name %>"><%= user.first_name %></p>
          <p class="font-thin text-sm" id="user-role-<%= user.role %>" data-role-full="<%= user.role.titleize %>"><%= user.role.titleize %></p>
          <p class="ssm:hidden mmd:block font-thin text-xs text-center"><%= user.email %></p>
        </li>
        <li class="ssm:flex ssm:flex-row ssm:justify-center ssm:items-center ssm:gap-2 mmd:hidden">
          <div>
            <%= button_to user_path(user), method: :get do %>
              <svg width="23" height="23" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 9.75V14.25C13.5 14.6478 13.342 15.0294 13.0607 15.3107C12.7794 15.592 12.3978 15.75 12 15.75H3.75C3.35218 15.75 2.97064 15.592 2.68934 15.3107C2.40804 15.0294 2.25 14.6478 2.25 14.25V6C2.25 5.60218 2.40804 5.22064 2.68934 4.93934C2.97064 4.65803 3.35218 4.5 3.75 4.5H8.25M11.25 2.25H15.75M15.75 2.25V6.75M15.75 2.25L7.5 10.5" stroke="#1E1E1E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            <% end %>
          </div>
          <div>
            <%= button_to edit_user_path(user), method: :get do %>
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1852 3.70369H3.7037C3.21256 3.70369 2.74154 3.89879 2.39425 4.24608C2.04696 4.59337 1.85185 5.0644 1.85185 5.55554V18.5185C1.85185 19.0096 2.04696 19.4807 2.39425 19.828C2.74154 20.1752 3.21256 20.3704 3.7037 20.3704H16.6667C17.1578 20.3704 17.6288 20.1752 17.9761 19.828C18.3234 19.4807 18.5185 19.0096 18.5185 18.5185V12.037M17.1296 2.3148C17.498 1.94644 17.9976 1.7395 18.5185 1.7395C19.0395 1.7395 19.539 1.94644 19.9074 2.3148C20.2758 2.68315 20.4827 3.18275 20.4827 3.70369C20.4827 4.22462 20.2758 4.72422 19.9074 5.09258L11.1111 13.8889L7.40741 14.8148L8.33333 11.1111L17.1296 2.3148Z" stroke="#6DC13D" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </div>
          <div>
            <%= button_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.25925 19.4444C6.74999 19.4444 6.31404 19.2631 5.95138 18.9005C5.58873 18.5378 5.4074 18.1018 5.4074 17.5926V5.55555H4.48148V3.7037H9.11111V2.77777H14.6667V3.7037H19.2963V5.55555H18.3704V17.5926C18.3704 18.1018 18.189 18.5378 17.8264 18.9005C17.4637 19.2631 17.0278 19.4444 16.5185 19.4444H7.25925ZM16.5185 5.55555H7.25925V17.5926H16.5185V5.55555ZM9.11111 15.7407H10.963V7.4074H9.11111V15.7407ZM12.8148 15.7407H14.6667V7.4074H12.8148V15.7407Z" fill="#E41414"/>
              </svg>
               <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</section>
