<%= form_with model: @user, local: true do |form| %>
  <div class="space-y-4">
  <%= form.label :Name, class: "block text-sm font-medium text-gray-700" %>

    <!-- Name Fields -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <%= form.text_field :first_name, placeholder: "First Name", required: true, class: "w-full p-2 border border-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-500" %>
      </div>
      <div>
        <%= form.text_field :last_name, placeholder: "Last Name", required: true, class: "w-full p-2 border border-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-500" %>
      </div>
    </div>

    <!-- Image Input -->
    <div>
      <%= form.label :image, class: "block text-sm font-medium text-gray-700" %>
      <%= form.file_field :image, class: "w-full p-2 border border-gray-300 rounded-sm" %>
    </div>

    <!-- User Information Fields -->
    <div class="space-y-4">
      <!-- Email Input -->
      <%= form.label :UserInformation, "User Information", class: "block text-lg font-semibold text-gray-800" %>

      <div>
        <%= form.text_field :email, placeholder: "example@email.com", required: true, class: "w-full p-2 border border-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-500" %>
      </div>

      <!-- Password and Confirm Password Fields -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <%= form.password_field :password, placeholder: "Password", class: "w-full p-2 border border-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-500" %>
        </div>
        <div>
          <%= form.password_field :password_confirmation, placeholder: "Confirm Password", class: "w-full p-2 border border-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-500" %>
        </div>
      </div>
      <p class="text-xs text-gray-500 mt-1">Leave blank if you don't want to change the password.</p>

      <!-- Phone Number and Role Fields -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <%= form.telephone_field :phone_number, placeholder: "Phone Number", required: true, class: "w-full p-2 border border-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-500" %>
        </div>
        <div>
          <%= form.select :role, User::ROLES, { include_blank: "Select User Role" }, class: "w-full p-2 border border-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-500" %>
        </div>
      </div>

      <!-- Branch Dropdown -->
      <div >
        <%= form.label :branch_id, class: "block text-sm font-medium text-gray-700" %>
        <%= form.collection_select :branch_id, Branch.all, :id, :name, include_blank:"Select User Branch", class: "w-full p-2 border border-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-500" %>
      </div>
    </div>

    <!-- Submit Button -->
    <div>
      <%= form.submit 'Create User', class: "w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-sm hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500" %>
    </div>
  </div>
<% end %>
