<%= form_with(model: county_form.object, class: "contents") do |form| %>
  <% if county_form.object.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(county_form.object.errors.count, "error") %> prohibited this county from being saved:</h2>

      <ul>
        <% county_form.object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= county_form.label :name, "County Name" %>
    <%= county_form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= county_form.label :name, "Description" %>
    <%= county_form.text_area :name, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
<% end %>
