<!-- _card.html.erb -->
<div class="flex flex-col <%= variant_class %> items-center bg-moodyBlue md:bg-transparent p-6 rounded-lg">
  <div class="mb-4 <%= image_container_class %>">
    <%= image_tag(image_path, size: "80x80", alt: image_alt) %>
  </div>
  <div class="text-center <%= text_alignment_class %> flex-grow">
    <h3 class="font-bold text-sm lg:text-xl"><%= title %></h3>
    <p class="font-light text-xs mt-2 lg:text-lg"><%= description %></p>
    <div class="font-bold text-base mt-4 <%= action_text_class %>"><%= action_text %></div>
  </div>
</div>
