<main>
  <%= render 'shared/navbar' %>
  <%= render 'shared/no_one' %>
  <%= render 'shared/littleby' %>
  <%= render 'shared/results' %>
  <%= render 'shared/about' %>
  <%= render 'shared/faq' %>
  <%= render 'shared/contact' %>
  <%= render 'shared/footer' %>

  <%= render 'shared/modals/donate_modal' %>
  <%= render 'shared/modals/request_modal' %>
  <%= render 'shared/modals/volunteer_modal' %>
  <%= render 'shared/modals/contact_modal' %>
  <%= render 'shared/modals/terms_modal' %>
  <%= render 'shared/modals/privacy_modal' %>
  <%= render 'shared/modals/cookie_modal' %>
</main>