<main>
  <section>
    <div class="bg-custom-image">
      <nav class="border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 relative">
          <%= image_tag("hnhfoodbank-logo.png", size: "70x70", alt: "Hnh Logo") %>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
          </button>
          <div class="hidden absolute top-full left-0 w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium bg-white md:bg-transparent flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="#" class="block py-2 px-3 text-white bg-lightGreen rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
              </li>
              <li>
                <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Donate Food</a>
              </li>
              <li>
                <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Request Food</a>
              </li>
              <li>
                <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About Us</a>
              </li>
              <li>
                <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="w-full mt-20 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center">
        <div class="text-center text-white font-Paprika">
          <h1 class="text-3xl font-normal">Haba Na Haba</h1>
          <p class="text-xl mt-2 font-normal">We are passionate hunger heroes</p>
          <p class="text-base mt-2 font-Outfit font-light">Together we can end hunger</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-lightGreen text-white mt-0 padding" style="background-image: url('../assets/Flower pattern print.png'); background-size: cover; background-position: center;">
  <div class="flex flex-row">
  <div class="flex flex-row items-center  font-Outfit text-left p-6 bg-opacity-75">
    <h2 class="text-2xl font-bold">No one should ever go hungry</h2>
  </div>

  <div class="font-Outfit font-normal text-xs p-6 bg-opacity-75">
  <p class="text-xs font-light">That's why we connect people with food today and build community power to end hunger at its roots, eliminating barriers to employment.</p>
  <div class = " flex flex-row mt-5">
    <button type="button" class="text-lightGreen bg-white hover:bg-lightGreen hover:text-white hover:border-white focus:ring-4 focus:ring-blue-300 rounded-md px-2 py-2 me-2 mb-2">Request Food</button>
    <button type="button" class="text-white bg-darkBlue hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-md px-2 py-2 me-2 mb-2">Donate Food</button>
    </div>
  </div>
  </div>
</section>


<section class="font-Outfit text-darkBlue p-4 flex flex-col justify-center items-center">
  <%= image_tag("volunteer.png",  alt: "volunteer") %>
  <div class="text-left">
  <h2 class="font-bold text-2xl mt-5 p-4 ">Little by little the pot is filled</h2>
  <p class="font-semibold text-sm p-4">We envision a world where communities are working together to empower each other and alleviate hunger</p>
  <p class="font-Outfit font-normal text-sm p-4 ">At Haba Na Haba, we collect and distribute food to hunger-relief charities and people. Each year billions of kilogrammes of food go to waste, while 1 in 4 people are malnourished. This is why we engage in to attenuate the stringent hunger & food waste challenge. We strongly believe that "hunger is often not a food problem; it's a logistics problem"!</p>
  </div>
   
 <ul class="max-w-md space-y-1 list-inside  mt-3 mb-2 w-full font-Outfit text-darkBlue-400 text-lg">
    <li class="flex items-center p-5">
        <svg class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" stroke="#6DC13D" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
       Reduce food waste
    </li>
    <li class="flex items-center p-5">
        <svg class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" stroke="#6DC13D" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
        Fight food hunger
    </li>
    <li class="flex items-center p-5">
        <svg class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" stroke="#6DC13D" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
        Work with people
    </li>
 </ul>

 <div class="block max-w-sm p-6 bg-darkBlue rounded-2xl shadow">
 <h4 class="mb-2 text-2xl font-semibold tracking-tight text-white">6+ years of serving community
 <img src="../assets/love.svg" alt="Icon" class="inline w-9 h-9 ml-2" />
 </h4>
 </div>

 <div class="mt-5 block max-w-sm w-full p-7 bg-white border-2 border-lightGreen rounded-2xl shadow">
  <h4 class="mb-2 text-2xl font-semibold tracking-tight text-darkBlue">1.25M+ Beneficiaries</h4>
 </div>
</section>


<section>
  <div class="bg-community-image text-white pt-2.5 pr-10 pb-10 pl-10">
  <h3 class="font-Outfit font-normal text-xs  mt-4 text-center">HOW WE DO THAT</h3>
  <h3 class="font-Outfit font-bold text-xl mt-5 text-center">HOW WE GET RESULTS THAT LAST</h3>
 

 <div class="grid-container font-Outfit text-white">
  <div class="px-1.5 mt-6">
  <%= image_tag("Gift.png", size: "80x80", alt: "Gift") %>
  </div>

  <div class ="mr-4 ml-4">
  <h3 class="font-bold text-sm">GIVE A DONATION</h3>
  <p class="font-normal text-xs mt-4">Support  our cause with your treasures in either funding, materials or alms
  </p>
  </div>
  <div class="font-bold text-sm mt-8">DONATE</div> 

  <div class="px-1.5 mt-6">
  <%= image_tag("accessible.png", size: "80x80", alt: "Accessible") %>
  </div>
  <div class ="mr-4 ml-4">
  <h3 class="font-bold text-sm">VOLUNTEER NOW</h3>
  <p class="font-normal text-xs mt-4">Take off time to make an impact as you serve humanity together with us</p>
  </div>
  <div class="font-bold text-sm mt-8"><a href="">JOIN IN</a></div>

  <div class="px-1.5 mt-6">
  <%= image_tag("plus.png", size: "80x80", alt: "Plus sign") %>
  </div>
  <div class ="mr-4 ml-4">
  <h3 class="font-bold text-sm">PARTNER WITH US</h3>
  <p class="font-normal text-xs mt-4">Let’s join hands to make a difference in the lives of people & communities</p>
  </div class>
  <div class="font-bold text-sm mt-8">START NOW</div>

  <div class="px-1.5 mt-6"><%= image_tag("sunlight.png", size: "80x80", alt: "sunlight") %></div>
  <div class ="mr-4 ml-4">
  <h3 class="font-bold text-sm">PRAY FOR US</h3>
  <p class="font-normal text-xs mt-4">Praying is a Godly principle that produces great and valued results</p>
  </div>
  <div class="text-lightGreen font-bold text-sm mt-8">LET'S TALK</div>
 </div>
 </div></section>

<article>
  <div class="text-darkBlue font-Outfit text-center p-6">
    <h3 class="font-medium text-sm">PROMISES THAT BUILD</h3>
    <h3 class="font-bold text-3xl mt-2">OUR MISSION</h3>
    <p class="font-normal text-base">We work in a mission-driven environment with people about making a difference and
     seeing how they’re impacting communities.
    </p>
  </div>

  <div>
   <div class="mt-2">
     
      <div >
       <%= image_tag("two-volunteers.png", class: "", alt: "volunteers") %>
      </div>
     
   </div>
   <div class="bg-lightGreen text-white text-left pt-10 px-5">
      <h3 class="text-darkBlue font-medium text-base">WE WORK FOR PEOPLE</h3>
      <h3 class="font-semibold text-3xl">Building Communities</h3>
      <p class="font-normal text-sm mt-10">Haba Na Haba Food Bank is a registered NGO (No. 0952) in Uganda that passionately works to alleviate hunger and strengthen local communities.
      Currently it's fully recognized as a member of the Regional Food Banking Network No. 150051 with its headquarters in UAE Dubai and under the mentorship of Egypt Food Bank.
      </p>
      <button type="button" class=" mb-10 text-white bg-darkBlue hover:bg-lightGreen focus:ring-4 focus:ring-white font-semibold rounded-lg text-sm px-5 py-2.5 me-2 mb-2 mt-5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      Learn more
      </button>
    </div>
  </div>
</article>
 
<article class="bg-darkBlue p-5">
 <div class="text-center text-white font-Outfit">
  <p class="font-normal text-base">SOME NUMBERS FOR YOU</p>
  <h3 class="font-bold text-4xl">6 Years of Impact</h3>
 </div>

 <div class="impact-grid-container mt-5">
  <%= impact_item("Clock.png", "60x60", "Clock", "240+", "Food Donations") %>
  <%= impact_item("Calender.png", "60x60", "Calender", "1000 TONS", "Current Year") %>
  <%= impact_item("pie-chart.png", "60x60", "Pie Chart", "6000 KG", "Current Year food collection") %>
  <%= impact_item("handshake.png", "60x60", "Handshake", "6000 KG", "Current Year food collection") %>
 </div>
</article>

<section class="font-Outfit text-darkBlue flex flex-col justify-center align-center p-5 gap-10 ">
  <div>
    <p class="font-light text-base mt-5 text-center">STILL HAVE QUESTIONS ABOUT US</p>
    <h4 class="font-bold text-2xl text-center">LEARN MORE FROM FAQ'S</h4>
  </div>


 <div id="accordion-collapse" data-accordion="collapse">
  <!-- Accordion item 1 -->
  <h4 id="accordion-collapse-heading-1">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
      <span>How do I request for food?</span>
      <svg data-accordion-icon class="w-4 h-4 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h4>
  <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
      <p class="mb-2 dark:text-gray-400">Answer the frequently asked question in a simple sentence, a longish paragraph, or even in a list.</p>
    </div>
  </div>

  <!-- Accordion item 2 -->
  <h4 id="accordion-collapse-heading-2">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
      <span>Can I be a donor?</span>
      <svg data-accordion-icon class="w-4 h-4 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h4>
  <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2">Answer the frequently asked question in a simple sentence, a longish paragraph, or even in a list.</p>
    </div>
  </div>

  <!-- Accordion item 3 -->
  <h4 id="accordion-collapse-heading-3">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-3
" aria-expanded="false" aria-controls="accordion-collapse-body-3
">
      <span>How do I collect food?</span>
      <svg data-accordion-icon class="w-4 h-4 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h4>
  <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2">Answer the frequently asked question in a simple sentence, a longish paragraph, or even in a list.</p>
    </div>
  </div>

  <!-- Accordion item 4 -->
  <h4 id="accordion-collapse-heading-4">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
      <span>Can I become a donor?</span>
      <svg data-accordion-icon class="w-4 h-4 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h4>
  <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2">Answer the frequently asked question in a simple sentence, a longish paragraph, or even in a list.</p>
    </div>
  </div>


</div>
</section>



<footer class="bg-darkBlue dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0 flex flex-row items-center space-x-4">
              <a href="https://flowbite.com/" class="flex items-center">
                  <img src="../assets/logo-foot.png" class="h-20 me-3" alt="Habanahaba footer Logo" />
              </a>
              <div>
              <h2 class="text-lightGreen font-Outfit font-bold ml-12">Follow us on our social channels</h2>
              <div class="flex mt-4 sm:justify-center sm:mt-0 ml-12">
    <!-- Facebook -->
    <a href="#" class="text-white hover:text-lightGreen dark:hover:text-white">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M22.675 0h-21.35C.597 0 0 .597 0 1.325v21.351C0 23.403.597 24 1.325 24H12.81v-9.293H9.692V10.55h3.118V8.148c0-3.1 1.893-4.788 4.657-4.788 1.324 0 2.464.099 2.795.144v3.241l-1.918.001c-1.503 0-1.795.715-1.795 1.764v2.311h3.588l-.467 3.157h-3.121V24h6.116C23.403 24 24 23.403 24 22.675V1.325C24 .597 23.403 0 22.675 0z"/>
        </svg>
        <span class="sr-only">Facebook page</span>
    </a>

    <!-- Instagram -->
    <a href="#" class="text-white hover:text-lightGreen dark:hover:text-white ms-5">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 1.366.062 2.633.333 3.608 1.308.975.975 1.246 2.242 1.308 3.608.058 1.267.07 1.646.07 4.851 0 3.204-.012 3.584-.07 4.85-.062 1.366-.333 2.633-1.308 3.608-.975.975-2.242 1.246-3.608 1.308-1.267.058-1.646.07-4.851.07-3.204 0-3.584-.012-4.85-.07-1.366-.062-2.633-.333-3.608-1.308-.975-.975-1.246-2.242-1.308-3.608-.058-1.267-.07-1.646-.07-4.851 0-3.204.012-3.584.07-4.85.062-1.366.333-2.633 1.308-3.608.975-.975 2.242-1.246 3.608-1.308 1.267-.058 1.646-.07 4.851-.07m0-2.163C8.741 0 8.332.012 7.052.07 5.77.129 4.533.412 3.51 1.435.517 4.427.13 9.049.13 12c0 2.951.388 7.573 3.38 10.565 1.023 1.023 2.26 1.306 3.542 1.365 1.281.058 1.689.07 4.948.07 3.259 0 3.668-.012 4.948-.07 1.282-.059 2.519-.342 3.542-1.365 2.992-2.992 3.38-7.614 3.38-10.565 0-2.951-.388-7.573-3.38-10.565C18.467.412 17.23.13 15.948.07 14.668.012 14.259 0 12 0z"/>
            <circle cx="12" cy="12" r="3.6"/>
            <path d="M18.406 3.594a1.44 1.44 0 1 0 0 2.88 1.44 1.44 0 0 0 0-2.88z"/>
        </svg>
        <span class="sr-only">Instagram page</span>
    </a>

    <!-- LinkedIn -->
    <a href="#" class="text-white hover:text-lightGreen dark:hover:text-white ms-5">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M4.98 3.03c0 .8-.67 1.48-1.5 1.48S2 3.83 2 3.03C2 2.2 2.67 1.5 3.5 1.5c.83 0 1.5.67 1.5 1.53zm-.03 3.94H2v14h2.97v-14zm5.53 0h-3v14h3v-7.47c0-4.01 5.23-4.34 5.23 0v7.47h2.97v-8.72c0-5.63-6.4-5.42-8.2-2.65V6.97z"/>
        </svg>
        <span class="sr-only">LinkedIn page</span>
    </a>

    <!-- Twitter -->
    <a href="#" class="text-white hover:text-lightGreen dark:hover:text-white ms-5">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M24 4.557a9.93 9.93 0 0 1-2.827.775 4.932 4.932 0 0 0 2.165-2.723 9.843 9.843 0 0 1-3.127 1.194 4.916 4.916 0 0 0-8.384 4.482 13.95 13.95 0 0 1-10.141-5.146 4.916 4.916 0 0 0 1.523 6.563 4.901 4.901 0 0 1-2.23-.616c-.054 2.281 1.581 4.415 3.95 4.888a4.934 4.934 0 0 1-2.224.084 4.923 4.923 0 0 0 4.6 3.417 9.868 9.868 0 0 1-7.29 2.032 13.93 13.93 0 0 0 7.548 2.213c9.051 0 14.002-7.496 14.002-13.986 0-.213-.005-.425-.014-.637A9.935 9.935 0 0 0 24 4.557z"/>
        </svg>
        <span class="sr-only">Twitter page</span>
    </a>

    <!-- YouTube -->
    <a href="#" class="text-white hover:text-lightGreen dark:hover:text-white ms-5">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M23.498 6.186a2.99 2.99 0 0 0-2.109-2.11C19.33 3.571 12 3.571 12 3.571s-7.33 0-9.388.506a2.99 2.99 0 0 0-2.109 2.11C0 8.33 0 12 0 12s0 3.67.503 5.814a2.99 2.99 0 0 0 2.109 2.109C4.67 20.429 12 20.429 12 20.429s7.33 0 9.388-.506a2.99 2.99 0 0 0 2.109-2.109C24 15.67 24 12 24 12s0-3.67-.502-5.814zM9.615 15.615v-7.23L15.69 12l-6.075 3.615z"/>
        </svg>
        <span class="sr-only">YouTube channel</span>
    </a>
</div>

              </div>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
          <div>
                  <h2 class="mb-6 text-xl font-Outfit font-bold text-white uppercase dark:text-white">Contact us</h2>
                  <ul class="text-white dark:text-gray-400 font-medium">
                     <li class="mb-4">
                          <a href="#" class="mb-2 hover:underline flex flex-row items-center uppercase font-Outfit font-medium text-base text-lightGreen">
                              <img src="../assets/Map pin.svg" alt="Location Icon" style="width: 16px; height: 16px; margin-right: 5px;"/> <!-- Adjust the size as needed -->
                              Find us
                          </a>
                          <p class="text-white dark:text-gray-400 font-light font-Outfit text-base uppercase">Busibante Rd, Nabaweesi CloseNajjera, Kampala, 
                          Uganda</p>
                      </li>
                      <li class="mb-4">
                          <a href="#" class="mb-2 hover:underline flex flex-row items-center uppercase font-Outfit font-medium text-base text-lightGreen">
                              <img src="../assets/Phone incoming.svg" alt="Call us Icon" style="width: 16px; height: 16px; margin-right: 5px;"/> <!-- Adjust the size as needed -->
                              Call us
                          </a>
                          <div class="flex flex-col">
                           <a href="tel:(256) 782-611246" class="hover:underline text-lightGreen dark:text-gray-400 font-light font-Outfit text-base">
                                  (256) 782-611246
                           </a>
                           <a href="tel:(256) 702-878225" class="hover:underline text-white dark:text-gray-400 font-light font-Outfit text-base">
                                  (256) 702-878225
                           </a>
                          </div>
                      </li>
                      <li class="mb-4">
                          <a href="mailto:info@hnhfoodbank.org" class=" mb-2hover:underline flex flex-row items-center uppercase font-Outfit font-medium text-base text-lightGreen">
                              <img src="../assets/Mail.svg" alt="Location Icon" style="width: 16px; height: 16px; margin-right: 5px;"/> 
                              Email us
                          </a>
                          <a href="mailto:info@hnhfoodbank.org?subject=Inquiry&body=Hello, I would like to know more about..." class="hover:underline text-white dark:text-gray-400 font-light font-Outfit text-base uppercase">
                                  info@hnhfoodbank.org
                           </a>
                      </li>
                  </ul>
              </div>
                <div>
                  <h2 class="mb-6 text-xl font-Outfit font-bold text-white uppercase dark:text-white">Quick access</h2>
                  <ul class="text-white dark:text-gray-400 font-regular font-Outfit text-base uppercase">
                      <li class="mb-2">
                          <a href="https://flowbite.com/" class="hover:underline">our impact</a>
                      </li>
                      <li class="mb-2">
                          <a href="https://tailwindcss.com/" class="hover:underline">make a donation</a>
                      </li>
                       <li class="mb-2">
                          <a href="https://tailwindcss.com/" class="hover:underline">volunteer now</a>
                      </li>
                       <li class="mb-2">
                          <a href="https://tailwindcss.com/" class="hover:underline">let’s talk</a>
                      </li>
                       <li>
                          <a href="https://tailwindcss.com/" class="hover:underline">faq’s</a>
                      </li>
                  </ul>
              </div>

              <div>
                  <h2 class="mb-6 text-xl font-Outfit font-bold text-white uppercase dark:text-white">Resources</h2>
                  <ul class="text-white dark:text-gray-400 font-regular font-Outfit text-base uppercase">
                      <li class="mb-2">
                          <a href="https://flowbite.com/" class="hover:underline">Partnership</a>
                      </li>
                      <li class="mb-2">
                          <a href="https://tailwindcss.com/" class="hover:underline">Cookie Policy</a>
                      </li>
                       <li class="mb-2">
                          <a href="https://tailwindcss.com/" class="hover:underline">Privacy Policy</a>
                      </li>
                       <li class="mb-2">
                          <a href="https://tailwindcss.com/" class="hover:underline">terms of use</a>
                      </li>
                       <li>
                          <a href="https://tailwindcss.com/" class="hover:underline">Sitemap</a>
                      </li>
                  </ul>
              </div>
            <section class="flex flex-start">
  <div class="mx-auto max-w-screen-xl">
    <div class="mx-auto max-w-screen-md text-left"> <!-- Changed from text-center to text-left -->
      <h2 class="mb-2 text-xl font-bold text-white dark:text-white font-Outfit">Newsletter sign up</h2>
      <p class="mb-4 text-base text-white dark:text-gray-400 font-Outfit">Stay informed with news and updates. Unsubscribe at any time.</p>
      <form action="#">
        <div class="flex flex-col sm:flex-col mb-5">
          <div class="relative w-full mb-4 sm:mb-0">
            <input class="block p-2 pl-6 w-full text-sm text-gray-900 bg-gray-50 font-Outfit rounded-sm border" placeholder="Enter your email" type="email" id="email" required>
          </div>
          <button type="submit" class="py-3 px-3 w-full text-sm font-medium font-Outfit text-white rounded-sm bg-lightGreen hover:bg-primary-800">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>

    </div>
  </div>


              
          </div>
      </div>
      <hr class="my-6 border-lightGreen sm:mx-auto dark:border-gray-700 lg:my-8" />
     <div class="sm:flex sm:items-center sm:justify-between ml-5 uppercase">
    <span class="text-sm text-white sm:text-center dark:text-gray-400 font-Outfit">
        Haba Na Haba Food Bank™ 
        <a href="#" class="hover:underline text-lightGreen">©2024</a> | All Rights Reserved
    </span>
</div>
<div class="sm:flex sm:items-center sm:justify-between ml-5 uppercase py-9"> <!-- Added mb-5 here -->
    <span class="text-sm text-white sm:text-center dark:text-gray-400 font-Outfit">
        Website developed by 
        <a href="#" class="hover:underline text-lightGreen">the winning team</a>
    </span>
</div>

    </div>
</footer>

</main>