<%= form_with(model: event, local: true) do |form| %>
  <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg p-6 font-Outfit">
    <% title = event.persisted? ? "Edit Event" : "Create New Event" %>
    <h1 class="text-2xl font-bold text-center mb-6"><%= title %></h1>
    <!-- Event name input -->
    <div class="mb-4">
      <%= form.label :name, "Event Theme", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" %>
    </div>
    <!-- Start Date and Time -->
    <div class="flex space-x-4 mb-4">
      <div class="w-1/2">
        <%= form.label :start_date, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.date_field :start_date, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" %>
      </div>
      <div class="w-1/2">
        <%= form.label :start_time, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.time_field :start_time, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" %>
      </div>
    </div>
    <!-- End Date and Time -->
    <div class="flex space-x-4 mb-4">
      <div class="w-1/2">
        <%= form.label :end_date, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.date_field :end_date, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" %>
      </div>
      <div class="w-1/2">
        <%= form.label :end_time, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.time_field :end_time, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" %>
      </div>
    </div>
    <!-- District, County, Sub-County -->
 <% uuid = SecureRandom.uuid %>
              <div>
                <%= form.label :district_id, "District",class: "block mb-2 text-sm font-medium text-gray-900" %>
                <%= form.collection_select :district_id, @districts, :id, :name, { prompt: 'Select a district' }, { id: "district-select-#{uuid}", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5", data: { uuid: uuid, context_path: "requests" } } %>
              </div>
              <div>
                <%= form.label :county_id, "County", class: "block mb-2 text-sm font-medium text-gray-900" %>
                <%= form.collection_select :county_id, [], :id, :name, { prompt: 'Select a county' }, { id: "county-select-#{uuid}",class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
              </div>
              <div>
                <%= form.label :sub_county_id, "Sub-County", class: "block mb-2 text-sm font-medium text-gray-900" %>
                <%= form.collection_select :sub_county_id, [], :id, :name, { prompt: 'Select a sub-county' }, { id: "sub-county-select-#{uuid}",class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5" } %>
              </div>
    

 
    <!-- User Search and Role Filter -->
    <div class="mb-4">
      <%= form.label :search, "Search Users", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <input type="text" id="user_search" placeholder="Search by name or phone number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5">
    </div>
    <div class="mb-4">
      <%= form.label :role, "Filter by Role", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <select id="role_filter" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightGreen focus:border-lightGreen block w-full p-2.5">
        <option value="all">All Roles</option>
        <option value="super_admin">Super Admin</option>
        <option value="admin">Admin</option>
        <option value="branch_manager">Branch Manager</option>
        <option value="volunteer">Volunteer</option>
      </select>
    </div>
    <!-- Users List -->
    <div class="mb-4">
      <%= form.label :user_ids, "Select Users to Add", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <ul id="users-list">
        <input type="hidden" name="event[user_ids][]" value="">
        <% @users.each do |user| %>
          <li class="user-item">
            <input type="checkbox" name="event[user_ids][]" value="<%= user.id %>" <%= 'checked' if @event.users.include?(user) %> />
            <span class="user-name"><%= user.first_name %> <%= user.last_name %></span> - 
            <span class="user-phone"><%= user.phone_number %></span> - 
            <span class="user-role"><%= user.role %></span>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- Submit and Back Buttons -->
    <div class="actions flex flex-row space-x-4">
      <div class="w-1/2">
        <%= form.submit "Submit", class: "w-full py-2 px-4 bg-lightGreen text-white font-Outfit rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
      
      <div class="w-1/2 bg-darkBlue text-white font-Outfit py-2 px-4 rounded-md text-center">
        <%= link_to 'Back to Events', events_path %>
      </div>
    </div>
  </div>
  </div>
<% end %>
