
  <div class="w-full">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
        <div class="w-full md:w-1/2">
          <h1 class="text-2xl font-bold mb-4">Requests for <%= @event.name %></h1>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th class="px-5 py-3 text-left">Name</th>
              <th class="px-5 py-3 text-left">Phone Number</th>
              <th class="px-5 py-3 text-left">Address</th>
              <th class="px-5 py-3 text-left">District</th>
              <th class="px-5 py-3 text-left">County</th>
              <th class="px-5 py-3 text-left">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @requests.each do |request| %>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="px-5 py-3"><%= request.name %></td>
                <td class="px-5 py-3"><%= request.phone_number %></td>
                <td class="px-5 py-3"><%= request.residence_address %></td>
                <td class="px-5 py-3"><%= request.district&.name %></td>
                <td class="px-5 py-3"><%= request.county&.name %></td>
                <td class="px-6 py-3 text-center">
                  <div class="relative">
                    <button data-dropdown-toggle="dropdown-<%= request.id %>" class="text-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300 border border-lightGreen rounded" type="button">
                      <div class="p-1 flex flex-row justify-center items-center space-between">
                        <span class="hidden md:block lg:block">Actions</span>
                        <i class="fa-solid fa-chevron-down"></i>
                      </div>
                    </button>
                    <div id="dropdown-<%= request.id %>" class="absolute right-0 mt-2 w-32 bg-white border rounded-lg shadow-lg z-10 hidden overflow-hidden font-Outfit font-semibold">
                      <%= link_to 'Show', request_path(request), class: 'block px-4 py-2 text-lightGreen hover:bg-gray-100' %>
                      <%= link_to 'Edit', edit_request_path(request), class: 'block px-4 py-2 text-darkBlue hover:bg-gray-100' %>
                      <%= link_to 'Delete', request_path(request), method: :delete, data: { confirm: 'Are you sure?' }, class: 'block px-12 py-2 text-red-600 hover:bg-gray-100 text-center' %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>

