<div class="md:flex-row flex space-x-4">
  <a href="#" class="flex flex-col items-start w-1/2 p-2 bg-[#6DC13D] rounded-lg shadow-md text-white">
    <div class="flex items-center space-x-2">
      <%= image_tag 'inventory.svg', alt: 'Selected', class: 'icon-class' %>
    </div>
    <div class="content-start flex w-full">
      <div class="flex flex-col w-1/2 mt-4">
        <span>Total Food Amount</span>
        <span>100</span>
      </div>
      <div class="grow flex flex-col mt-4 w-1/2">
        <span>Donated</span>
        <span>76 86%</span>
      </div>
    </div>
  </a>
  <div class="flex flex-col w-1/2">
    <a href="#" class="flex flex-col items-start p-2 rounded-lg shadow-md">
      <div class="flex justify-between items-center space-x-2">
        <div class="flex items-center space-x-2">
          <%= image_tag 'users.svg', alt: 'Selected', class: 'icon-class' %>
        </div>
        <p class="font-weight-100">This Week</p>
      </div>
      <div class="content-start flex w-full">
        <div class="flex flex-col w-1/2 mt-4">
          <span class="text-red-500">Low stock alert</span>
          <span>20</span>
        </div>
        <div class="grow flex flex-col mt-4 w-1/2">
          <span>Expired</span>
          <span>300</span>
        </div>
      </div>
    </a>
  </div>
</div>
<section class="md:flex md:justify-between mt-4 mb-4">
  <h3 class="font-bold mb-4 mx-8 hidden">Inventory Items</h3>
  <div class="flex justify-end space-x-4">
    <!-- Search Form -->
    <form class="max-w-md hidden md:block" action="#" method="get">
      <div class="relative w-full">
        <input type="search" id="input-search" name="query" class="block p-2.5 pl-8 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Search" required />
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
      </div>
    </form>
    <!-- Filter Button -->
    <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="h-fit p-2 border-gray-950 p-2 hover:border-green-400 rounded-lg flex border-2" type="button">
      <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <span class="ml-2 text-sm">Filter</span>
      <%= icon('fa-solid', 'fa-filter', class:"fa-7x, fa-shake")%>
    </button>
    <!-- Modal -->
    <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h2 class="text-center text-3xl font-bold text-green-500 mb-6">Input Filter Options</h2>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
            <%= render partial: "requests/filter_form" %>
          </div>
        </div>
      </div>
    </div>
    <!-- Closing the modal div -->
    <!-- Bulk Actions Dropdown Button -->
    <div id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="hidden md:block h-fit p-2 text-xs relative border border-gray-950 hover:border-green-400 rounded-lg flex items-center cursor-pointer">
      <span>Bulk Actions</span>
      <svg class="w-4 h-4 ml-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
      </svg>
    </div>
    <!-- Dropdown menu -->
    <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
        <li id="bulk-delete" class="p-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer">Delete Selected</li>
      </ul>
    </div>
  </div>
</section>
<%= turbo_frame_tag "requests" do %>
  <div class="flow-root mt-8">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="requests__table--shadow overflow-hidden border border-gray-200 rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50 font-bold">
              <tr>
                <td class="py-2 px-4 text-sm">
                  <input type="checkbox" id="select-all" class="form-checkbox hidden md:flex rounded-md" aria-label="Select all items">
                </td>
                <%= sortable_table_header 'Name', :name, :requests_donor_path, class: 'requests__row--header py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Address', :residence_address, :requests_donor_path, class: 'requests__row--header py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Phone Number', :phone_number, :requests_donor_path, class: 'requests__row--header py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Email', :email, :requests_donor_path, class: 'requests__row--header py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Type', :request_type, :requests_donor_path, class: 'requests__row--header py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <%= sortable_table_header 'Status', :status, :requests_donor_path, class: 'requests__row--header py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' %>
                <td class="py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</td>
              </tr>
            </thead>
            <tbody class="bg-white">
              <% @donation_requests.each do |request| %>
                <tr class="hover:bg-gray-100 transition-colors">
                  <td class="py-2 px-4 text-sm text-gray-900">
                    <input type="checkbox" name="selected_requests[]" value="<%= request.id %>" class="donor-request-checkbox md:flex hidden form-checkbox rounded-md request-checkbox" aria-label="Select request <%= request.id %>">
                  </td>
                  <td class="py-2 px-4 text-sm text-gray-600 text-center">
                    <%= request.name %>
                  </td>
                  <td class="py-2 px-4 text-sm text-gray-600 text-center">
                    <%= request.residence_address %>
                  </td>
                  <td class="py-2 px-4 text-sm text-gray-600 text-center">
                    <%= request.phone_number %>
                  </td>
                  <td class="py-2 px-4 text-sm text-gray-600 text-center">
                    <%= request.user.email if request.user %>
                  </td>
                  <td class="py-2 px-4 text-sm text-gray-600 text-center">
                    <%= request.request_type %>
                  </td>
                  <td class="py-2 px-4 text-sm text-gray-600 text-center">
                    <% if request.is_selected %>
                      <%= image_tag 'Check circle.svg', alt: 'Selected', class: 'icon-class' %>
                    <% else %>
                      <%= image_tag 'Alert circle.svg', alt: 'Not Selected', class: 'icon-class' %>
                    <% end %>
                  </td>
                  <td class="py-2 px-4 text-sm text-gray-600 text-center">
                    <button onclick="window.location.href='<%= requests_donor_profile_path(request.id) %>'" type="button">
                      <%= image_tag 'Icon.svg', alt: 'Show', class: 'action-icon' %>
                    </button>
                    <button onclick="window.location.href='<%= edit_request_path(request) %>'" type="button">
                      <%= image_tag 'Edit.svg', alt: 'Edit', class: 'action-icon' %>
                    </button>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>