<h1>Requests</h1>
<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Request Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <% @requests.each do |request| %>
      <tr class="bg-slate-200">
        <td><%= request.name %></td>
        <td><%= request.phone_number %></td>
        <td><%= request.request_type %></td>
        <td>
          <div class="relative inline-block text-left">
            <button type="button" onclick="toggleDropdown(<%= request.id %>)" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none">
              Actions
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
            <div id="dropdown-<%= request.id %>" class="hidden absolute z-10 right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
              <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <%= link_to 'Show', request, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                <%= link_to 'Edit', edit_request_path(request), class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                <%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'block px-4 py-2 text-sm text-red-600 hover:bg-gray-100' %>
                <%= link_to 'AIB', new_request_individual_beneficiary_path(request), class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                <%= link_to 'AFB', new_request_family_beneficiary_path(request), class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                <%= link_to 'AOB', new_request_organization_beneficiary_path(request), class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                <%= link_to 'Add Inventory', new_request_inventory_path(request), class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Request', new_request_path, class: 'mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700' %>
<%= link_to 'Dashboard', users_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>


<script>

function toggleDropdown(requestId) {
  const dropdown = document.getElementById(`dropdown-${requestId}`);
  dropdown.classList.toggle("hidden");
}

</script>