<section class="font-Outfit flex flex-col justify-center items-center">
  <h2 class="text-lightGreen font-bold text-center mb-10 text-2xl">Request Information</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-lg border border-solid border-lightGreen md:border-r p-8 rounded-2xl">
    <div class="md:pr-4">
      <p class="font-bold text-lg text-lightGreen">Name:</p>
      <p><%= @request.name || 'N/A' %></p>
    </div>
    <div class="md:pl-4">
      <p class="font-bold text-lg text-lightGreen">Phone Number:</p>
      <p><%= @request.phone_number || 'N/A' %></p>
    </div>
    <div class="md:pr-4">
      <p class="font-bold text-lg text-lightGreen">Residence Address:</p>
      <p><%= @request.residence_address || 'N/A' %></p>
    </div>
    <div class="md:pl-4">
      <p class="font-bold text-lg text-lightGreen">Village:</p>
      <p><%= @request.village || 'N/A' %></p>
    </div>
    <div class="md:pr-4">
      <p class="font-bold text-lg text-lightGreen">Parish:</p>
      <p><%= @request.parish || 'N/A' %></p>
    </div>
    <div class="md:pl-4">
      <p class="font-bold text-lg text-lightGreen">Request Type:</p>
      <p><%= @request.request_type || 'N/A' %></p>
    </div>
    <div class="md:pr-4">
      <p class="font-bold text-lg text-lightGreen">Amount:</p>
      <p><%= @request.amount || 'N/A' %></p>
    </div>
    <div class="md:pl-4">
      <p class="font-bold text-lg text-lightGreen">Food Type:</p>
      <p><%= @request.food_type || 'N/A' %></p>
    </div>
    <div class="md:pr-4">
      <p class="font-bold text-lg text-lightGreen">Food Name:</p>
      <p><%= @request.food_name || 'N/A' %></p>
    </div>
    <div class="md:pl-4">
      <p class="font-bold text-lg text-lightGreen">District:</p>
      <p><%= @request.district&.name|| 'N/A' %></p>
    </div>
    <div class="md:pr-4">
      <p class="font-bold text-lg text-lightGreen">County:</p>
      <p><%= @request.county&.name  || 'N/A' %></p>
    </div>
    <div class="md:pl-4">
      <p class="font-bold text-lg text-lightGreen">Sub-County:</p>
      <p><%= @request.sub_county&.name || 'N/A' %></p>
    </div>
    <div class="md:pr-4">
      <p class="font-bold text-lg text-lightGreen">Branch:</p>
      <p><%= @request.branch&.name|| 'N/A' %></p>
    </div>
    <div class="md:pl-4">
      <p class="font-bold text-lg text-lightGreen">Approved:</p>
      <p><%= @request.is_selected ? 'Yes' : 'No' %></p>
    </div>
    <div class="md:pr-4">
      <p class="font-bold text-lg text-lightGreen">Assigned Staff:</p>
      <% if @request.user.present? %>
        <p><%= @request.user.first_name %> <%= @request.user.last_name %></p>
      <% else %>
        <p>No staff assigned</p>
      <% end %>
    </div>
    <div class="mt-4 md:pl-4">
      <% if @request.event.present? %>
        <%= link_to 'Edit', edit_event_request_path(@request.event, @request), class: "bg-lightGreen text-white py-2 px-4 rounded hover:bg-green-800" %>
        <%= link_to 'Back', event_path(@request.event), class: "bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>
      <% else %>
        <%= link_to 'Edit', edit_request_path(@request), class: "bg-lightGreen text-white py-2 px-4 rounded hover:bg-green-800" %>
        <%= link_to 'Back', requests_path, class: "bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" %>
      <% end %>
    </div>
  </div>
</section>
