<h1>Request Details</h1>
<p><strong>Name:</strong> <%= @request.name %></p>
<p><strong>Phone Number:</strong> <%= @request.phone_number %></p>
<p><strong>Request Type:</strong> <%= @request.request_type %></p>
<p><strong>District:</strong> <%= @request.district.name if @request.district.present? %></p>
<p><strong>County:</strong> <%= @request.county.name if @request.county.present? %></p>
<p><strong>Sub-County:</strong> <%= @request.sub_county.name if @request.sub_county.present? %></p>
<p><strong>Branch:</strong> <%= @request.branch.name if @request.branch.present? %></p>
<%= link_to 'Edit', edit_request_path(@request), class: 'bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700' %>
<%= link_to 'Back', requests_path, class: 'bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700' %>
