<%= form_with(model: sub_county, local: true, class: "space-y-6") do |form| %>
  <% if sub_county.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <strong class="font-bold"><%= pluralize(sub_county.errors.count, "error") %> prevented this SubCounty from being saved:</strong>
      <ul>
        <% sub_county.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, class: "block text-gray-700 font-bold" %>
    <%= form.text_field :name, class: "block mt-1 w-full border border-gray-300 rounded-lg px-4 py-2" %>
  </div>
  <div>
    <%= form.label :county_id, "Select County", class: "block text-gray-700 font-bold" %>
    <%= form.collection_select :county_id, County.all, :id, :name, prompt: "Select a County", class: "block mt-1 w-full border border-gray-300 rounded-lg px-4 py-2" %>
  </div>
  <div class="mt-6">
    <%= form.submit 'Update SubCounty', class: "bg-lightGreen text-white px-4 py-2 rounded-lg shadow hover:bg-darkBlue focus:outline-none" %>
  </div>
<% end %>
