<%= form_with model: @district, local: true do |form| %>
  <h2>District</h2>
  <div>
    <%= form.label :name, "District Name" %>
    <%= form.text_field :name %>
  </div>
  <h3>Counties</h3>
  <div id="counties">
    <%= form.fields_for :counties do |county_fields| %>
      <%= render 'county_fields', f: county_fields %>
    <% end %>
  </div>
  <%= link_to_add_fields "Add County", form, :counties %>
  <%= form.submit "Update District" %>
<% end %>
