<section class="">
  <div class="flex flex-col items-center justify-center px-2 py-2 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-full h-30" src="/assets/hnh_admin_logo.png" alt="logo">  
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl leading-tight font-Outfit font-semibold tracking-tight text-darkBlue md:text-2xl  text-center">
                  Login to Account
              </h1>
              <p class="text-xs leading-tight font-Outfit font-normal tracking-tight text-darkBlue md:text-base  text-center">Please enter your email and password to continue</p>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="space-y-4 md:space-y-6">
                <div>
                <%= f.label :email, "Email address", class: "block mb-2 text-sm font-medium font-Outfit text-darkBlue dark:text-white" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "bg-gray-50 border border-gray-300 text-darkBlue text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
              </div>
              
              <div>
                <%= f.label :password, "Password", class: "block mb-2 text-sm font-medium font-Outfit text-darkBlue dark:text-white" %>
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "••••••••", class: "bg-gray-50 border border-gray-300 text-darkBlue text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
              </div>
                  
                  <% if devise_mapping.rememberable? %>
                    <div class="flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :remember_me, class: " font-Outfit font-light text-gray-500 dark:text-gray-300" %>
                      </div>
                    </div>
                  <% end %>
                  
                  <%= f.submit "Log in", class: "w-full font-Outfit text-white bg-lightGreen hover:bg-darkBlue focus:ring-4 focus:outline-none focus:ring-darkBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
                  
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    <%= render "devise/shared/links" %>
                  </p>
                </div>
              <% end %>
          </div>
      </div>
  </div>
</section>
