<div class="md:pr-6">
  <p class="text-sm font-bold text-green-700">Donor Name</p>
  <p class="text-gray-800"><%= @inventory.donor_name || 'N/A' %></p>
</div>
<div class="md:pl-6">
  <p class="text-sm font-bold text-green-700">Donor Type</p>
  <p class="text-gray-800"><%= @inventory.donor_type || 'N/A' %></p>
</div>
<div class="md:pr-6">
  <p class="text-sm font-bold text-green-700">Donation Type</p>
  <p class="text-gray-800"><%= @inventory.donation_type || 'N/A' %></p>
</div>      
<div class="md:pl-6">
  <p class="text-sm font-bold text-green-700">Other Items Name</p>
  <p class="text-gray-800"><%= @inventory.other_items_name || 'N/A' %></p>
</div>
<div class="md:pr-6">
  <p class="text-sm font-bold text-green-700">Other Items Quantity</p>
  <p class="text-gray-800"><%= @inventory.other_items_quantity || 'N/A' %></p>
</div>
<div class="md:pl-6">
  <p class="text-sm font-bold text-green-700">Other Items Condition</p>
  <p class="text-gray-800"><%= @inventory.other_items_condition || 'N/A' %></p>
</div>
<div class="md:pr-6">
  <p class="text-sm font-bold text-green-700">Place of Collection</p>
  <p class="text-gray-800"><%= @inventory.place_of_collection || 'N/A' %></p>
</div>
<div class="md:pl-6">
  <p class="text-sm font-bold text-green-700">Collection Date</p>
  <p class="text-gray-800"><%= @inventory.collection_date || 'N/A' %></p>
</div>
<div class="md:pr-6">
  <p class="text-sm font-bold text-green-700">District</p>
  <p class="text-gray-800"><%= @inventory.district.name || 'N/A' %></p>
</div>
<div class="md:pl-6">
  <p class="text-sm font-bold text-green-700">County</p>
  <p class="text-gray-800"><%= @inventory.county.name || 'N/A' %></p>
</div>
<div class="md:pr-6">
  <p class="text-sm font-bold text-green-700">Sub County</p>
  <p class="text-gray-800"><%= @inventory.sub_county.name || 'N/A' %></p>
</div>
<div class="md:pl-6">
  <p class="text-sm font-bold text-green-700">Branch</p>
  <p class="text-gray-800"><%= @inventory.branch.name || 'N/A' %></p>
</div>
<div class="md:pr-6">
  <p class="text-sm font-bold text-green-700">Residence Address</p>
  <p class="text-gray-800"><%= @inventory.residence_address || 'N/A' %></p>
</div>
<div class="md:pl-6">
  <p class="text-sm font-bold text-green-700">Phone Number</p>
  <p class="text-gray-800"><%= @inventory.phone_number || 'N/A' %></p>
</div>   
<!-- Additional fields for family donors -->
<% if @inventory.donor_type == 'family_donor' %>
  <div class="md:pr-6">
    <p class="text-sm font-bold text-green-700">Family Name</p>
    <p class="text-gray-800"><%= @inventory.family_name || 'N/A' %></p>
  </div>
  <div class="md:pl-6">
    <p class="text-sm font-bold text-green-700">Number of Family Members</p>
    <p class="text-gray-800"><%= @inventory.family_member_count || 'N/A' %></p>
  </div>
  <!-- Additional fields for organization donors -->
<% elsif @inventory.donor_type == 'organization_donor' %>
  <div class="md:pr-6">
    <p class="text-sm font-bold text-green-700">Organization Name</p>
    <p class="text-gray-800"><%= @inventory.organization_name || 'N/A' %></p>
  </div>
  <div class="md:pl-6">
    <p class="text-sm font-bold text-green-700">Organization  Contact Person</p>
    <p class="text-gray-800"><%= @inventory.organization_contact_person || 'N/A' %></p>
  </div>
  <div class="md:pr-6">
    <p class="text-sm font-bold text-green-700">Organization Contact Phone</p>
    <p class="text-gray-800"><%= @inventory.organization_contact_phone || 'N/A' %></p>
  </div>
<% end %>