<!DOCTYPE html>
<html>
  <head>
    <title>HabaNaHabaUssdApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<%= user_signed_in? ? '' : 'bg-lightGreen bg-login-bg bg-cover bg-center bg-no-repeat' %>">
  <main class="h-screen w-full <%= user_signed_in? ? 'overflow-auto' : 'overflow-hidden' %>">
      <% if user_signed_in? %>
        <%= render 'admin_panel/sidebar' %>
        <%= render 'admin_panel/navbar' %>
      <% end %>
      <section class="p-4 <%= 'mobile-yield-content tab-yield-content yield-content' if user_signed_in? %>">
      <% if user_signed_in? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </section>
    
    </main>
  </body>
</html>
