<!DOCTYPE html>
<html>
  <head>
    <title>HabaNaHabaUssdApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="">
    <main class="h-screen">
      <% if user_signed_in? %>
        <%= render 'admin_panel/navbar' %>
      <% end %>
      <div class="p-6 mt-16 sm:ml-64">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
    </main>
  </body>
</html>
